@using Scienter.HotelERP.Common.Domain;
@*@model List<SideButtonDetails>*@

@{
    ViewBag.Title = "Reservations";
}
<link href="~/Content/uicons-bold-rounded-2.3.0/css/uicons-bold-rounded.css" rel="stylesheet" />
<link href="~/Content/reservation-sidebutton.css" rel="stylesheet" />

<link href="~/Select2/css/select2.min.css" rel="stylesheet" />
<script src="~/Select2/js/select2.full.min.js"></script>

<link href="~/scripts/ui/reservation-list/reservation-list.css" rel="stylesheet" />

<style>
    .data-res-row:hover > td {
        background-color: rgba(206, 206, 206, 0.60) !important;
        /*font-weight:bold;*/
        /* border-bottom: 1px solid #094f70;*/
    }

    .group-detail-row-main, .group-detail-row {
        border-left: 3px solid #094f70;
        border-right: 3px solid #094f70;
    }

    .select2-results {
        line-height: 12px !important;
        font-size: 12px !important;
    }

        .select2-results ul li {
            color: black !important;
            font-family: 'Roboto', sans-serif !important;
            font-weight: 200 !important;
            cursor: auto;
        }

    .select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
        background-color: #0078D4 !important;
        color: white !important;
    }

    .select2-selection__rendered {
        color: #0a1324;
    }

    .select2-search--dropdown .select2-search__field {
        height: 26px;
        font-size: 14px;
    }

    .control-label {
        z-index: 1 !important;
    }

    .searchCriterias .select2-container {
        width: 100% !important;
        border-bottom: 10px solid #fff !important;
    }

    .searchCriterias .select2-container--default .select2-selection--single .select2-selection__rendered {
        margin-top: -15px;
    }

    .searchCriterias .select2-container--default .select2-selection--single .select2-selection__arrow {
        top: -7px;
    }

    .searchCriterias .select2-container--open .select2-dropdown--below {
        margin-top: -15px !important;
    }
</style>

<input type="hidden" id="resType" name="resType" value="reservation" />
@*<input type="hidden" id="lastSavedReservationUuid" value="@ViewBag.Uuid" />*@

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" data-background-color="purple">
                <div class="row">
                    <div class="col-md-10">
                        <h4 class="title">
                            Existing Reservations
                            <hr class="visible-print" />
                        </h4>
                    </div>

                    <div class="col-md-2 text-right hidden-print">

                        <a class="btn btn-sm btn-theme-color-2" href="~/reservation/reservations/makereservation">
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                        <a class="btn btn-sm  btn-theme-color-2" href="~/reservation/reservations/list">
                            <span class="glyphicon glyphicon-th-list"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-content" id="contentLoadingArea" style="padding-left:15px; padding-right:15px;">
                <div class="searchCriterias">
                    <div class="row">

                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Arr. From</label>
                                    <input type="text" class="effective-to form-control text-box single-line" id="Search_FromDate" name="FromDate" value="@Scienter.HotelERP.Common.Domain.SessionObjects.FOSettings.CurrentDate" autocomplete="off" />
                                </div>

                                <div class="col-md-4">
                                    <label>Arr. To</label>
                                    <input type="text" class="effective-to form-control text-box single-line" id="Search_ToDate" name="ToDate" value="@DateTime.Now.AddMonths(60)" autocomplete="off" />
                                </div>
                                <div class="col-md-4">
                                    <label>Status</label>
                                    <select id="Search_StatusId" name="Search_StatusId" class="form-control select2">
                                        <option value="ALL">ALL</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="row">
                                @*<div class="col-md-3">
                                        <label>Group Res. No</label>
                                        <input type="text" placeholder="ALL" id="Search_GroupReservationNo" name="Search_GroupReservationNo" class="form-control" />
                                    </div>*@

                                <div class="col-md-3">
                                    <label>Group / Res. No</label>
                                    <input type="text" placeholder="ALL" id="Search_ReservationNo" name="Search_ReservationNo" class="form-control" />
                                </div>



                                <div class="col-md-9 ">

                                    <div class="row">

                                        <div class="col-md-5">
                                            <label>Voucher No</label>
                                            <input type="text" placeholder="ALL" id="Search_VoucherNo" name="Search_VoucherNo" class="form-control" />
                                        </div>

                                        <div class="col-md-7">
                                            <label>Guest (Name / Email / Contact)</label>
                                            <input type="text" placeholder="ALL GUESTS" id="Search_GuestName" name="Search_GuestName" class="form-control" />
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>


                        <div class="col-md-2 advanceSearch">
                            <label>Company</label>
                            <select id="Search_CompanyId" name="Search_CompanyId" class="form-control select2">
                                <option value="ALL">ALL</option>
                            </select>
                        </div>

                        <div class="col-md-2 advanceSearch">
                            <label>Market</label>
                            <select id="Search_MarketId" name="Search_MarketId" class="form-control select2">
                                <option value="ALL">ALL</option>
                            </select>
                        </div>

                        <div class="col-md-2 advanceSearch">
                            <label>Segment</label>
                            <select id="Search_SegmentId" name="Search_SegmentId" class="form-control select2">
                                <option value="ALL">ALL</option>
                            </select>
                        </div>
                        <div class="col-md-2 advanceSearch">
                            <label>Room Caregory</label>
                            <select id="Search_RoomCategoryId" name="Search_RoomCategoryId" class="form-control select2">
                                <option value="ALL">ALL</option>
                            </select>
                        </div>

                        <div class="col-md-2 advanceSearch">
                            <label>Room Type</label>
                            <select id="Search_RoomTypeId" name="Search_RoomTypeId" class="form-control select2">
                                <option value="ALL">ALL</option>
                            </select>
                        </div>

                        <div class="col-md-2 advanceSearch">
                            <label>Meal Plan</label>
                            <select id="Search_MealPlanId" name="Search_MealPlanId" class="form-control select2">
                                <option value="ALL">ALL</option>
                            </select>
                        </div>


                        <div class="col-md-2 advanceSearch">
                            <label>Room No</label>
                            <select id="Search_RoomId" name="Search_RoomId" class="form-control select2">
                                <option value="ALL">ALL</option>
                            </select>
                        </div>

                        <div class="col-md-2 advanceSearch">
                            <label>Visit Purpose</label>
                            <select id="Search_VisitPurposeId" name="Search_VisitPurposeId" class="form-control select2">
                                <option value="ALL">ALL</option>
                            </select>
                        </div>

                        <div class="col-md-2 advanceSearch">
                            <label>Booking Source</label>
                            <select id="Search_BookingSourceId" name="Search_BookingSourceId" class="form-control select2">
                                <option value="ALL">ALL</option>
                            </select>
                        </div>

                        <div class="col-md-2 advanceSearch">
                            <label>Rate Code</label>
                            <select id="Search_RateCodeHeaderId" name="Search_RateCodeHeaderId" class="form-control select2">
                                <option value="ALL">ALL</option>
                            </select>
                        </div>


                        <div class="col-md-2 advanceSearch">
                            <label>Title</label>
                            <select id="Search_SalutationId" name="Search_SalutationId" class="form-control select2">
                                <option value="ALL">ALL</option>
                            </select>
                        </div>



                        <div class="col-md-2 advanceSearch">
                            <label>Tour No</label>
                            <input type="text" placeholder="ALL" id="Search_TourNo" name="Search_TourNo" class="form-control" />
                        </div>



                        <div class="col-md-2">

                            <div class="row">
                                <div class="col-md-12" style="padding-left: 0px;">
                                    <a style="font-size: 10px;font-weight: bold;float: right;margin-bottom: 10px;cursor: pointer;margin-top: -3px;" id="btnAdvanceSearch">
                                        SHOW ADVANCE SEARCH
                                    </a>
                                    <table style="border:0px; width:100%;">
                                        <tr>
                                            <td style="padding-right:10px;">
                                                <button class="btn btn-theme-color-1" title="Clear Search Criteria" onclick="window.location.href='/reservation/reservations/list'"
                                                        style="
                                                        width: 100%;
                                                        margin-top: -15px;
                                                        padding-left: 10px;
                                                        padding-right: 10px;
                                                        /* font-size: 12px; */
                                                        height: 32px;
                                                        background-color: #878787;
                                                        ">
                                                    <span class="glyphicon glyphicon-remove"></span>
                                                </button>
                                            </td>
                                            <td>
                                                <button title="Search Now" class="btn btn-theme-color-2" style="width:100%; margin-top: -15px;" id="btnSearch">SEARCH</button>

                                            </td>
                                        </tr>
                                    </table>


                                </div>
                            </div>



                        </div>
                    </div>
                </div>

                <div class="table table-responsive reservation-grid-container">

                    <table class="reservation-table table table-striped font-size-12px" id="existingReservationGrid">
                        <tr style="height: 35px;">
                            <th title="Row No" style="width:30px; padding-left:5px;">#</th>
                            <th class="sortable" sort-colomn="ReservationNo" style="width:130px;" title="Here it will sort based on reservation created date time.">Reservation No</th>
                            <th class="" title="Advance Payment" style="width: 30px;">
                                <img src="~/Images/has-advance-payment.png" style="width:20px;" />
                            </th>
                            <th class="sortable" sort-colomn="Nights" title="No of nights" style="width: 48px;">
                                <img src="~/Images/standered-reservation.png" style="width:24px;" />
                            </th>
                            <th class="sortable" sort-colomn="Adults" title="No of adults" style="width: 48px;">
                                <img src="~/Content/reservation-list-icons/adults.png" style="width:24px;" />
                            </th>
                            <th class="sortable" sort-colomn="Kids" title="No of kids" style="width: 48px;">
                                <img src="~/Content/reservation-list-icons/kids.png" style="width:24px;" />
                            </th>
                            <th class="sortable asc" sort-colomn="Arrival" style="width: 75px;" title="Arrival">Arr.</th>
                            <th class="sortable" sort-colomn="Departure" style="width: 75px;" title="Departure">Dep.</th>
                            <th class="sortable" sort-colomn="FirstName">Guest</th>
                            @*<th class="sortable hide-on-side-buttons" sort-colomn="VipLevel">VIP</th>*@
                            <th class="sortable" sort-colomn="CompanyName">Agent</th>
                            <th class="sortable hide-on-side-buttons" sort-colomn="VoucherNo" style="width: 100px;" title="Voucher No">Voucher#</th>
                            <th class="sortable hide-on-side-buttons" sort-colomn="TourNo" style="width: 100px;" title="Tour No">Tour#</th>
                            <th class="sortable" sort-colomn="CrossCheckOn" style="width:100px;" title="Cross Check On"> Check On</th>
                            <th class="sortable" sort-colomn="CrossCheckBy" style="width:100px;" title="Cross Check By"> Check By</th>
                            @*<th class="sortable" sort-colomn="RoomNo" style="width: 50px;" title="Room No">R#</th>
                                <th class="sortable" sort-colomn="RoomCategoryCode" style="width:45px;" title="Room Category">Cat.</th>
                                <th class="sortable" sort-colomn="RoomTypeCode" style="width:50px;" title="Room Type">Type</th>
                                <th class="sortable" sort-colomn="MealPlanCode" style="width:50px;" title="Meal Pan">MP</th>
                                <th class="sortable" sort-colomn="Rate" style="width:80px;">Rate</th>*@
                            <th style="width:30px;"></th>
                            <th width="35px"></th>
                    </table>


                    <center id="imgLoadingPot" style="display: none;">
                        <br>
                        <br>
                        <br>
                        <img src="/Images/loading_pot.gif" width="100px">
                    </center>

                    <center id="noRecordsMsg"> <h5 style="font-size:12px; margin-top:15px;">No records to show.</h5></center>


                </div>


                <div class="pagination-container">
                    <div class="pagination-info" id="pagination-info"></div>
                    <div class="page-size-container">
                        <label for="page-size-selector">#Rows : </label>
                        <select class="page-size-selector" id="page-size-selector">
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                            <option value="fit" selected>Fit To Screen</option>
                            <option value="all">All (Max 1000 / Page)</option>

                        </select>
                    </div>
                    <div class="pagination" id="pagination"></div>

                </div>
                @*<br />
                    <div class="row" style="padding-left:15px;">
                        <div class="col-md-12 text-right">
                            <button type="button" class="btn btn-primary" id="btnAddCrossCheck" style="float:right; width:300px; height:50px;">
                                Marked As Checked Reservations
                            </button>
                        </div>
                    </div>*@
            </div>
        </div>
    </div>
</div>

@*<input type="hidden" id="new-reservation" value="@ViewBag.Uuid" />*@

<input type="hidden" id="hdnAdvanceSearch" value="0" />

<style>
    .backToList {
        display: block;
        padding: 6px 10px;
        padding-bottom: 4px;
        background-color: rgb(9, 79, 112);
        color: rgb(255, 255, 255);
        margin: 30px 3px 3px;
        border-radius: 3px;
        font-size: 12px;
        letter-spacing: 1px;
        text-align: center;
        transition: all 0.2s;
        color: #fff;
    }

    .parentButton, .childButton, .btn-theme-color-2 {
        transition: all 0.2s;
    }


        .parentButton:hover, .childButton:hover, .btn-theme-color-2:hover {
            letter-spacing: 1px;
        }

    .backToList:hover {
        letter-spacing: 8px;
        color: #fff;
    }
</style>
<script src="~/Scripts/ui/reservation-list/reservation-list-crosscheck.js"></script>
<script src="~/Scripts/ui/common/reservation-list-pagination.js"></script>

<script>
    $(document).ready(function () {
        setTimeout(function () {
            LoadReservationGrid();
        }, 200);

        $('.backToList').hide();
    });
</script>
