#buttons .col-md-6, #buttons .col-md-12 {
    margin: 0 !important;
    min-height: 65px !important;
    padding: 2px !important;
    /*padding-right: 2px !important;
        padding-left: 2px !important;*/
}

    #buttons .col-md-6 button, #buttons .col-md-6 a {
        height: 65px !important;
        font-size: 12px !important;
        padding: 6px;
        word-wrap: break-word !important;
        line-height: 13px;
        text-transform: none !important;
    }

    #buttons .col-md-12 button, #buttons .col-md-12 a {
        height: 75px !important;
        padding: 10px;
        word-wrap: break-word !important;
    }

#buttons .btn {
    margin-top: 0px !important;
    margin: 0px !important;
    border-radius: 0px;
    cursor: pointer !important;
}

    #buttons .btn:hover {
        background: rgba(98,125,77,1) !important;
        background: -moz-linear-gradient(top, rgba(98,125,77,1) 0%, rgba(7,122,101,1) 100%) !important;
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(98,125,77,1)), color-stop(100%, rgba(7,122,101,1))) !important;
        background: -webkit-linear-gradient(top, rgba(98,125,77,1) 0%, rgba(7,122,101,1) 100%) !important;
        background: -o-linear-gradient(top, rgba(98,125,77,1) 0%, rgba(7,122,101,1) 100%) !important;
        background: -ms-linear-gradient(top, rgba(98,125,77,1) 0%, rgba(7,122,101,1) 100%) !important;
        background: linear-gradient(to bottom, rgba(98,125,77,1) 0%, rgba(7,122,101,1) 100%) !important;
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#627d4d', endColorstr='#077a65', GradientType=0 ) !important;
    }
