

<select class="form-control time-range" required id="ToTimerange" data-value-type="T">
    <option value="00:00:00">12:00 AM</option>
    <option value="00:30:00">12:30 AM</option>
    <option value="01:00:00">1:00 AM</option>
    <option value="01:30:00">1:30 AM</option>
    <option value="02:00:00">2:00 AM</option>
    <option value="02:30:00">2:30 AM</option>
    <option value="03:00:00">3:00 AM</option>
    <option value="03:30:00">3:30 AM</option>
    <option value="04:00:00">4:00 AM</option>
    <option value="04:30:00">4:30 AM</option>
    <option value="05:00:00">5:00 AM</option>
    <option value="05:30:00">5:30 AM</option>
    <option value="06:00:00">6:00 AM</option>
    <option value="06:30:00">6:30 AM</option>
    <option value="07:00:00">7:00 AM</option>
    <option value="07:30:00">7:30 AM</option>
    <option value="08:00:00">8:00 AM</option>
    <option value="08:30:00">8:30 AM</option>
    <option value="09:00:00">9:00 AM</option>
    <option value="09:30:00">9:30 AM</option>
    <option value="10:00:00">10:00 AM</option>
    <option value="10:30:00">10:30 AM</option>
    <option value="11:00:00">11:00 AM</option>
    <option value="11:30:00">11:30 AM</option>
    <option value="12:00:00">12:00 PM</option>
    <option value="12:30:00">12:30 PM</option>
    <option value="1:00:00">1:00 PM</option>
    <option value="1:30:00">1:30 PM</option>
    <option value="2:00:00">2:00 PM</option>
    <option value="2:30:00">2:30 PM</option>
    <option value="3:00:00">3:00 PM</option>
    <option value="3:30:00">3:30 PM</option>
    <option value="4:00:00">4:00 PM</option>
    <option value="4:30:00">4:30 PM</option>
    <option value="5:00:00">5:00 PM</option>
    <option value="5:30:00">5:30 PM</option>
    <option value="6:00:00">6:00 PM</option>
    <option value="6:30:00">6:30 PM</option>
    <option value="7:00:00">7:00 PM</option>
    <option value="7:30:00">7:30 PM</option>
    <option value="8:00:00">8:00 PM</option>
    <option value="8:30:00">8:30 PM</option>
    <option value="9:00:00">9:00 PM</option>
    <option value="9:30:00">9:30 PM</option>
    <option value="10:00:00">10:00 PM</option>
    <option value="10:30:00">10:30 PM</option>
    <option value="11:00:00">11:00 PM</option>
    <option value="11:30:00">11:30 PM</option>
</select>

