<div id="ResultDiv" class="hidden modal" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-body">
                <div data-dismiss="modal" class="model-popup-close-btn" id="ResultClose">
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="model-popup-title">
                            <h4>Alternative Menu Item Sync Results</h4>
                        </div>
                        <div id="message-model-msg" style="font-size:14px;">
                            @ViewBag.Result
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
