
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" data-background-color="purple">
                <div class="row">
                    <div class="col-md-8">
                        <h4 class="title">
                            @ViewBag.Title
                            <hr class="visible-print" />
                        </h4>
                    </div>

                </div>
            </div>
            <div class="card-content" id="contentLoadingArea">

                <form id="form">
                    <div class="row">
                        <div class="col-md-4 form-group label-floating">
                            <label class="control-label">Users</label>
                            <select id="userCombo" class="form-control @*font-size-16px*@" required>
                                <option value=""></option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="well">
                                <div id="loadUserRoles" class="loadUserRoles row" style="overflow-y:auto; height:auto;">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-success btn-width-100px" id="btnSubmit">
                                Save
                            </button>

                            <button type="reset" class="btn btn-default btn-width-100px btn-shadow" onclick="ClearForm()">
                                Clear
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/scripts/UI/scienter.userwiseroles.js"></script>




