@model Scienter.HotelERP.Common.Domain.User
@{
    ViewBag.Title = "Change Password";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" data-background-color="purple">
                <div class="row">
                    <div class="col-md-8">
                        <h4 class="title">
                            Change Password
                            <hr class="visible-print" />
                        </h4>
                    </div>
                </div>
            </div>
            <div class="card-content" id="contentLoadingArea">


                <div class="col-md-12">

                    <form action="/useraccess/users/updateownpassword" method="post">    
                        <div class="form-horizontal">                       
                                  
                            <input type="hidden" value="@ViewBag.MsgType"  class="MsgType" />

                            <div class="row">
                                <div class="col-md-4 col-md-4">
                                    <div class="form-group label-floating">
                                        <label class="control-label">User Name *</label>
                                        <input autocomplete="off" class="form-control text-box single-line" readonly maxlength="100" id="Username" name="Username" type="text" value="@Model.Username" required>
                                    </div>
                                      
                                    <div class="form-group label-floating">
                                        <label class="control-label">
                                            Current Password *
                                        </label>
                                        <input autocomplete="off" class="form-control text-box single-line" maxlength="100" id="NewPassword" name="CurrentPassword" type="password"
                                               required>
                                    </div>


                                    <div class="form-group label-floating">
                                        <label class="control-label">
                                            New Password *
                                        </label>
                                        <input autocomplete="off" class="form-control text-box single-line" maxlength="100" id="NewPassword" name="NewPassword" type="password"
                                               required>
                                    </div>


                                    <div class="form-group label-floating">
                                        <label class="control-label">
                                            Confirm New Password *
                                        </label>
                                        <input autocomplete="off" class="form-control text-box single-line" maxlength="100" id="ConfirmPassword" name="ConfirmNewPassword" type="password" value="@Model.ConfirmPassword" required>
                                    </div>


                                    <div class="form-group">
                                        <input type="submit" id="btnSave" value="Save" class="btn btn-primary" />
                                        &nbsp;
                                        <input type="reset" id="btnClear" value="Clear" class="btn btn-default" />
                                    </div>
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                        </div>
                    </form>

                </div>



            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/ui/common/scienter.grid2.js"></script>
@if (ViewBag.MsgType == "S")
{
    <script>
        setTimeout(function () {
            ShowSuccessMessage("Password updated successfully.");

            setTimeout(function () {
                window.location.href = '/';
            }, 2000);    
        }, 2000);       
    </script>
}

@if (ViewBag.MsgType == "M")
{
    <script>
        ShowWarningMessage("New Password and Confirm New Password should be the same");
    </script>
}    
<script>
    $(function () {
       
        if ($('.MsgType').val().includes('Err')) {
            ShowErrorMessage($('.MsgType').val().split('-')[1]);
        }
    })
    //setTimeout(function () {
    //    ShowErrorMessage("Error in password change.");
    //}, 2000);
</script>

