
@{
    ViewBag.Title = "User Management";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" data-background-color="purple">
                <div class="row">
                    <div class="col-md-8">
                        <h4 class="title">
                            @ViewBag.Title
                        <hr class="visible-print" />
                    </h4>
                </div>
                <div class="col-md-4 text-right hidden-print">
                    <button type="button" class="btn btn-sm btn-theme-color-2 showForm">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>

                    <button type="button" class="btn btn-sm  btn-theme-color-2 showGrid">
                        <span class="glyphicon glyphicon-th-list"></span>
                    </button>

                </div>
            </div>
        </div>
        <div class="card-content" id="contentLoadingArea">
            @*<div id="content">

            </div>*@
            @*@Html.Partial("_Loading")*@
        </div>
        
    </div>
</div>
</div>

<script src="~/Scripts/ui/common/scienter.grid2.js"></script>
<script>
    // form load --------------------------------
    $(document).ready(function () {
        FillGrid();
    });

    // show form -----------------------------------
    $('body').on('click', '.showForm', function (e) {
        $.ajax({
            url: '/useraccess/users/form',
            dataType: 'html',
            method: 'POST',           
            success: function (response) {               
                $('#contentLoadingArea').html('').fadeOut();
                $('#contentLoadingArea').html(response).fadeIn();
            }
        });
    });

    // show grid -----------------------------------

    $('body').on('click', '.showGrid', function (e) {
        FillGrid();
    });


    // save --------------------------------------
    $('body').on('submit', '#user', function (e) {
       
        e.preventDefault();
        var pass;
        if ($('#Id').val() >= 1)
        {
            //pass = $('#NewPassword').val()
            pass = $('#Password').val()
        }
        else {   
            pass = $('#Password').val()
        }
 

        if (pass == $('#ConfirmPassword').val()) {
            var user = {
                __RequestVerificationToken: $('__RequestVerificationToken').val(),
                Id: $('#Id').val(),
                Username: $('#Username').val(),
                EmployeeId: $('#EmployeeId').val(),
                Password: $('#Password').val(),
                IsActive: $('#IsActive').prop("checked"),
                IsLocked: $('#IsLocked').prop("checked"),
                

                Salt: $('#Salt').val(),
                NewPassword: $('#NewPassword').val(),
                UserPassword: $('#UserPassword').val(),

               
            };

            $.ajax({
                url: '/useraccess/users/save',
                dataType: 'html',
                data: user,
                method: 'POST',
                success: function (response) {

                    ShowSuccessMessage('Record has been saved successfully.');
                    FillGrid();
                }
            });
        }
        else {
            ShowWarningMessage('Your password and confirmation password do not match.');
        }
       
    });


    // fill grid -------------------------------------
    function FillGrid() {
        
        var gridId = "#existingUserGrid"; // change this - relevent grid id
        var paginations = {
            PageIndex: $(gridId).attr('data-page-index'),
            PageSize: $(gridId).attr('data-page-size'),
            FilterType: $(gridId).attr('data-filter-type'),
            SearchKeyword: $(gridId).attr('data-search-keyword')
        }
        $.ajax({
            url: '/useraccess/users/selectforgrid',
            dataType: 'html',
            data: paginations,
            method: 'POST',           
            success: function (response) {              
                if ($('.grid-container').length > 0) {
                    $('#contentLoadingArea').find($('.grid-container')).html('').fadeOut();
                    $('#contentLoadingArea').find($('.grid-container')).html(response).fadeIn();
                } else {
                    $('#contentLoadingArea').html('').fadeOut();
                    $('#contentLoadingArea').html(response).fadeIn();
                }
                
            }
        });
    }

</script>

