@model Scienter.HotelERP.FrontOffice.WebUIMvc.Areas.UserAccess.Models.UserWiseRoleViewModel

@foreach (var item in Model.UserRole)
{
    <div class="col-md-3">
        @if (Model.UserWiseRoles.Count(x => x.RoleId == item.Id) > 0)
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group checkbox" style="margin-top:0px;">
                        <label>
                            <input  type="checkbox" value="@item.Id" checked name="SelectedRoleIds" class="data-selected-roles" />
                            @item.Name
                        </label>
                    </div>
                </div>               
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group checkbox"  style="margin-top:0px;">
                        <label>
                            <input type="checkbox" value="@item.Id" name="SelectedRoleIds" class="data-selected-roles" />
                            @item.Name
                        </label>
                    </div>
                </div>
            </div>

        }
    </div>
}
