
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
            </div>
            <div class="col-md-6">
                <table id="statusSync">
                    <tr><td>dsfdfd</td></tr>
                </table>
            </div>
        </div>
    </div>
</div>
