<div class="col-md-3">
    <div class="card" style="margin-top:70px;">
        <div class="card-header card-header-icon" style="padding-bottom:5px;">
            <div class="row">
                <div class="col-md-12" style="padding-top:11px; text-align:right;">
                    <span href="http://www.scienter.lk" target="_blank">
                        <img src="~/Images/destinity-horizon-logo.png" width="300px" />
                    </span>
                </div>
            </div>
        </div>
        <div class="login-card-min-height card-content">
   
            <form style="margin-bottom:20px;">
                  
                <div class="form-group row">
                    <button type="submit" class="btn btn-fill btn-primary">Submit</button>
                </div>

            </form>

        </div>
    </div>



</div>

