@model List<Scienter.HotelERP.Common.Domain.User>

<form id="propertyForm">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="card" style="margin-top:90px; height:250px;">
            <div class="card-header card-header-icon" style="padding-bottom:5px; ">
                <div class="row">
                    <div class="col-md-12" style="padding-top:11px; text-align:right;">
                        <span href="http://www.scienter.lk" target="_blank">
                            <img src="~/Images/destinity-horizon-logo.png" width="300px" />
                        </span>
                    </div>
                </div>
            </div>
            <div class="row" @*style="padding-left:10px; padding-right:10px;*@ ">
                <div class="col-md-1"> </div>
                <div class="col-md-10">

                    @*<div class="form-group label-floating">
                            <label class="control-label">Property *</label>
                            @{Html.RenderAction("UserWisePropertyCombo", "Properties", new { name = "PropertyId", requiered = true });}
                        </div>*@

                    <div class="form-group label-floating">
                        <label class="control-label">Property</label>
                        <select id="propertyCombo" name="Id" class="form-control @*font-size-16px*@" required>
                            <option value=""></option>
                        </select>
                        <input type="hidden" id="Name" name="Name" />
                        <input type="hidden" id="ContactNos" name="ContactNos" />
                        <input type="hidden" id="ReservationCCEmail" name="ReservationCCEmail" />
                        <input type="hidden" id="Emails" name="Emails" />
                        <input type="hidden" id="Address" name="Address" />
                        <input type="hidden" id="WebsiteURL" name="WebsiteURL" />
                        <input type="hidden" id="BookingEngineLogo" name="BookingEngineLogo" />
                        <input type="hidden" id="BookingEngineURL" name="BookingEngineURL" />

                    </div>


                    <div class="form-group text-center">
                        <input type="submit" id="btnSave" value="Select" class="btn btn-primary" />
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </div>
    <div class="col-md-4"> </div>
</form>

<script>
    //--------------------------------------------------------------------------------------------------------
    //$('body').on('submit', '#propertyForm', function (e) {
    //
    //    var user = {
    //        Property: $('#Property').val(),
    //        PropertyId: $( "#propertyCombo option:selected" ).val(),
    //    };

    //    $.ajax({
    //        url: '/Administration/Properties/SetProperty',
    //        dataType: 'html',
    //        data: user,
    //        method: 'POST'
    //    });

    //});
    //--------------------------------------------------------------------------------------------------------
    $(document).ready(function () {
       
        FillPropertyCombo();
    });

    //--------------------------------------------------------------------------------------------------------
    function FillPropertyCombo() {
        $.ajax({
            url: '/Administration/Properties/UserWisePropertyCombo',
            dataType: 'json',
            success: function (data) {
                $('#propertyCombo').find('option').not(':first-child').remove();
                $.each(data, function (index, property) {
                    $('<option BookingEngineURL="' + property.BookingEngineURL + '" PropertyId="' + property.Id + '" ContactNos="' + property.ContactNos + '" ReservationCCEmail="' + property.ReservationCCEmail + '"   Emails="' + property.Emails + '"  Address="' + property.Address + '"    WebsiteURL="' + property.WebSiteURL + '"  BookingEngineLogo="' + property.BookingEngineLogo + '" name="' + property.Name + '" value="' + property.Id + '">' + property.Name + '</option>').appendTo($('#propertyCombo'));

                });
            },
        });
    }
    //--------------------------------------------------------------------------------------------------------
    $('body').on('change', '#propertyCombo', function (e) {

        $('#Name').val($("#propertyCombo option:selected").attr('name'));
        $('#ContactNos').val($("#propertyCombo option:selected").attr('ContactNos'));
        $('#ReservationCCEmail').val($("#propertyCombo option:selected").attr('ReservationCCEmail'));
        $('#Emails').val($("#propertyCombo option:selected").attr('Emails'));
        $('#Address').val($("#propertyCombo option:selected").attr('Address'));
        $('#WebsiteURL').val($("#propertyCombo option:selected").attr('WebsiteURL'));
        $('#BookingEngineLogo').val($("#propertyCombo option:selected").attr('BookingEngineLogo'));
        $('#BookingEngineURL').val($("#propertyCombo option:selected").attr('BookingEngineURL'));

    });


    $('body').on('submit', '#propertyForm', function (e) {

        e.preventDefault();

        var property = {
            Id: $('#propertyCombo option:selected').val(),
            Name: $('#Name').val(),
            ContactNos: $('#ContactNos').val(),
            ReservationCCEmail: $('#ReservationCCEmail').val(),
            Emails: $('#Emails').val(),
            Address: $('#Address').val(),
            WebsiteURL: $('#WebsiteURL').val(),
            BookingEngineLogo: $('#BookingEngineLogo').val(),
            BookingEngineURL: $('#BookingEngineURL').val()
        };

        $.ajax({
            url: '/Administration/Properties/LoginSetProperty',
            dataType: 'html',
            data: property,
            method: 'POST',
            success: function (response) {
                window.location.href = '/Administration/dashboard/'
            }
        });

    });
</script>
