@model Scienter.HotelERP.Common.Domain.Posting

<div class="col-md-12">
    <form id="CreditAndDebitNote">
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group label-floating">
                        <label class="control-label">Currency Type</label>
                        @{Html.RenderAction("CurrenciesConvertionCombo", "Currencies", new { area = "Administration", name = "CurrencyId", required = true, ChargeTypeCode = "PT" }); }
                        @Html.ValidationMessageFor(model => model.CurrencyId, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group label-floating ">
                        <label class="control-label">Charge Type</label>
                        <div id="PostingBillTypeComboContainer">
                            <select name="BillTypeId" id="BillTypeId" class="form-control" required>
                                <option> Select Currency</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group label-floating ">
                        <label class="control-label">Folio Text</label>
                        <input autocomplete="off" class="form-control text-box single-line" maxlength="150" id="FolioText" name="FolioText" type="text" value="">
                    </div>
                    <div class="form-group label-floating " id="amountField">
                        <label class="control-label">Amount</label>
                        <input autocomplete="off" class="form-control text-box single-line number number-only CreditAmount" id="CreditAmount" name="CreditAmount" required type="text" value="" maxlength="10" style="text-align:left !important;">
                    </div>
                    <div class="form-group label-floating ">
                        <label class="control-label">Remarks</label>
                        <input autocomplete="off" class="form-control text-box single-line" maxlength="150" id="Remarks" name="Remarks" type="text" value="">
                        @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-12">
                    <input type="submit" id="btnAddwalking" value="Submit" class="btn btn-primary" isAllowCreditPosting="" />  &nbsp;
                </div>
            </div>
        </div>
           
    </form>
</div>

<style>
    #Posting-walkin .form-group {
        margin: 15px 0 0 0;
    }
</style>

