@model  List<Scienter.HotelERP.Common.Domain.OTABooking>
@{
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <div id="BookingDetail">
                <table id="BookingDetailGrid" style="width:100%" class="table table-striped">
                    <thead>
                        <tr>
                            <th class="text-primary" width="200px">
                                Description
                            </th>
                            <th class="text-primary">
                                Value
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@item.Description</td>
                            <td>@item.Value</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>