
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Advance Payment</title>
</head>
<body>
    <div> 
        <center>
            <br /><br />
            <h2>
                Payment gateway is in testing mode.
            </h2>
        </center>
    </div>
</body>
</html>
