@model Scienter.HotelERP.Common.Domain.ViewModels.IBEPaymentView
@{
    Layout = "~/Views/Shared/_Customer.cshtml";
}

<div class="row">

    <div class="col-md-12">
        <div class="card" style="height:550px">
            <div class="row" style="text-align:center;">
                <h2>
                    @ViewBag.Title
                </h2>
            </div>
            @if (ViewBag.Title == "Oops!")
            {
                <br />
                <div class="col-md-12 ">
                    <center> <img src="/Images/error.png" height="120" width="120" /></center>
                    <br />
                    <br />
                </div>
            }

            <div class="row">
                <div class="col-md-12" style="margin-left:15px;">
                    <center>
                        @if (ViewBag.Error != null)
                        {
                            <h3><b>@ViewBag.Error</b></h3>
                        }
                        else
                        {
                            <h3><b>Success</b></h3>
                        }
                        <br />
                        <p>Bank reference no: @Model.BankReferenceNo<br />Name:@Model.CardHolderName<br /><br /><b></b></p>
                    </center>
                </div>
            </div>
            <br />
            <br />
            <center>
                @*<p>visit us for inquiries at:</p>
                <p><b><a href="https://www.sigiriyajungles.com/" target="_blank">www.sigiriyajungles.com</a></b></p>
                <p>SIGIRIYA JUN*@GLES, AUDANGAWA ROAD,	KIMBISSA,	SIGIRIYA. | HOTLINE : +94-114508508 | HOTEL : +94-664508508 | EMAIL : reservations@sigiriyajungles.com</p>
            </center>

        </div>
    </div>
</div>



