
@{
    ViewBag.Title = "Advanced Payment";
}

<div class="row" style="min-height:475px;">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header hidden-print" data-background-color="purple">
                <div class="row">
                    <div class="col-md-8">
                        <h4 class="title hidden-print">
                            @ViewBag.Title
                        </h4>
                    </div>

                </div>
            </div>
            <div class="card-content">
                <div class="row">
                    <div class="col-md-7 hidden-print" style="min-height:475px;">
                        <fieldset class="the-fieldset">
                            <legend class="the-legend">Select Reservation</legend>
                            <div class="row">
                                <div class="col-md-12">
                                    <ul class="nav nav-tabs">
                                        <li class="active" id="reservationlst"><a data-toggle="tab" href="#ReservationList">Reservation</a></li>
                                        <li id="inhouselst"><a data-toggle="tab" href="#inhouseList">In House</a></li>
                                    </ul>

                                    <div class="tab-content">
                                        <div id="ReservationList" class="tab-pane fade in active">
                                            <div class="col-md-12" id="ReservationLoadingArea" style="padding-left:0px;padding-right:0px;"></div>
                                        </div>
                                        <div id="inhouseList" class="tab-pane fade">
                                            <div class="col-md-12" id="InhouseLoadingArea" style="padding-left:0px;padding-right:0px;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row margin-top-10px">
                                <div class="col-md-12">
                                    <input type="submit" id="btnAdd" value="Add" class="btn btn-primary disabled" />  &nbsp;
                                    <input type="button" id="btnClear" value="Clear" class="btn btn-primary" />
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-md-5">
                        @Html.Partial("_AdvancePaymentInvoice")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/ui/common/scienter.grid2.js"></script>
<script src="~/Scripts/ui/common/Scienter.Common.TimeFormat.js"></script>
<script>

    $('#ReservationList').click(function () {
        $('#ReservationList').show();
    });

    $('#inhouseList').click(function () {

        $('#inhouseList').show();
    });

    var guestInfo = [];
    // form load ------------------------------
    $(document).ready(function () {
        //ScorelToTop60px();
        FillReservation();
        FillInhouse();
        setTimeout(function () {
            hidebuttons();

        }, 2500);
    });
    
    function SaveBill() {

        var advancepayment = {
            BillTypeId: $('#Ad_pPostingTypeId').val(),
            TaxGroupId: $('#Ad_pTaxId').val(),
            Amount: Billtotal,
            //Amount: parseFloat($('#AdvancedPayAmount').val().trim().replace(/,/g, '')).toFixed(2),
            Remarks: $('#AdvancedPayRemark').val() == "" ? "Advance Payment" : $("#AdvancedPayRemark").val(),
            PostingCategoryId: $('#Ad_pPostingCatgId').val(),
            DRCR: 'C',
            ChargeCodeId: $('#Ad_pChargeCodeId').val(),
            RoomDetails: guestInfo,
            BillPaymentDetails: billpaymentArray,
            CurrencyId: $('#MultiCurrencyAdvanceCurrencyId').val(),
            CurrencyCode: $('#MultiCurrencyAdvanceCurrencyId option:selected').text()
        };


        $.ajax({
            url: '/CashieringAndPosting/AdvancedPayment/SaveAdvancePayment',
            dataType: 'Json',
            data: advancepayment,
            method: 'POST',
            success: function (response) { 
                
                if (response.toString().startsWith('ERR-')) {
                    ShowErrorMessage("Sorry, There is an error in saving this record.");
                } else {
                    ShowSuccessMessage('Record has been saved successfully.');
                    $('#btnprint').removeClass('disabled');
                    $('#btnSave').prop('disabled', true);
                    $('#preview').text('');
                    $('.ribbon').addClass('hidden');
                    $('#btnAdd').prop('hidden', true);
                    $('#AdvancedPayAmount').prop('disabled', true);
                    $('#AdvancedPayRemark').prop('disabled', true);
                    getInvoiceNo(response);
                }
            },
            error: function (xhr, status, error) {
                ShowErrorMessage('Sorry, There is an error in saving this record.');
            }

        });

        $('.currencyTc').removeClass('hidden');
        $('#AddPayment').addClass('hidden');
        $('#btnClear').val('New');
    }

    //re-draw the bill header Get actual inv nomber and save date time from db
    function getInvoiceNo(response) {
        $('#Advancedpayment-billheader').html('');

        var elements = '<tr>' +
                           '<td class="report-width70perc" style="width:60%" >' +
                           '<div class="row" style="padding-left:20px"><b>Res#:&nbsp</b>' + response.ReservationNo + '</div>' +
                                '<div class="row" style="padding-left:20px">  <b>Room:&nbsp</b>' + response.RoomCode + '</div>' +
                           '</td>' +
                           '<td class="report-width30perc" style="width:40%">' +
                               '<div class="row RptinvoiceNo" style="padding-left:10px"><b>Receipt#:&nbsp </b>' + response.InvoiceNo + ' </div>' +
                               '<div class="row" style="padding-left:10px"><b>Date:&nbsp</b>' + fomatTime(response.RecordInsertTime, 'd') + '</div>' +
                           '</td>' +
                           '<tr> <td><div class="row" style="padding-left:20px"><b>Name:&nbsp</b>' + response.GuestName + '</div></td></tr>' +
                           '</tr>';


        $(elements).appendTo($('#Advancedpayment-billheader'));

    }
    $('#btnClear').click(function () { window.location.reload(); });

    function hidebuttons() {
        $('.showForm').hide();
        $('.dropdown-toggle').hide();
    }
    //fill grid -----------------------------------
    function FillReservation() {
        var gridId = "#ReservationDetailGrid"; // change this - relevent grid id

        var paginations = {
            PageIndex: $(gridId).attr('data-page-index'),
            PageSize: $(gridId).attr('data-page-size'),
            FilterType: $(gridId).attr('data-filter-type'),
            SearchKeyword: $('#ReservationsForAdvanceSearchBy').val()
        }
        $.ajax({
            url: '/CashieringAndPosting/AdvancedPayment/ReservationList',
            dataType: 'html',
            data: paginations,
            method: 'POST',
            success: function (response) {
                $('#ReservationLoadingArea').html('').fadeOut();
                $('#ReservationLoadingArea').html(response).fadeIn();
                GridFunctionalities();
            },
            error: function (error) {
                ShowErrorMessage('Sorry, There is an error.');
            }
        });
    }

    $('body').off('click', '.reservationForAdvsearchByBtn').on('click', '.reservationForAdvsearchByBtn', function (e) {
        e.preventDefault();
        FillReservation();
    });

    $('body').off('click', '.inhouseForAdvsearchByBtn').on('click', '.inhouseForAdvsearchByBtn', function (e) {
        e.preventDefault();
        FillInhouse();
    });

    function FillInhouse() {
        var gridId = "#ReservationDetailGridInhouse"; // change this - relevent grid id

        var paginations = {
            PageIndex: $(gridId).attr('data-page-index'),
            PageSize: $(gridId).attr('data-page-size'),
            FilterType: $(gridId).attr('data-filter-type'),
            SearchKeyword: $('#InhouseForAdvanceSearchBy').val()
        }

        $.ajax({

            url: '/CashieringAndPosting/AdvancedPayment/InHouseReservationList',
            dataType: 'html',
            data: paginations,
            method: 'POST',
            success: function (response) {
                $('#InhouseLoadingArea').html('').fadeOut();
                $('#InhouseLoadingArea').html(response).fadeIn();
                GridFunctionalities();
            },
            error: function (error) {
                ShowErrorMessage('Sorry, There is an error.');
            }
        });
    }
    //select only one check box and enble add button

    $('body').on('click', '.data-reservation-no_chkbox', function () {

        guestInfo = [];        
        $('.nav-tabs .active').text().replace(" ", "").toUpperCase() == "RESERVATION" ? $('#ReservationList #ReservationDetailGrid tr:has(td)').find('.data-reservation-no_chkbox').not(this).prop('checked', false) : $('#inhouseList #ReservationDetailGridInhouse tr:has(td)').find('.data-reservation-no_chkbox').not(this).prop('checked', false);

        var ResheaderId = $(this, '.data-reservation-no_chkbox').attr('data-reservation-headerId');
        ReservationAlert(ResheaderId, 'ADPYMT'); 
       
        guestInfo.push({
            ReservationNo: $(this, '.data-reservation-no_chkbox').attr('res_no'),
            groupresNo: $(this, '.data-reservation-no_chkbox').attr('gres_no'),
            GuestName: $(this, '.data-reservation-no_chkbox').attr('name'),
            RoomCode: $(this, '.data-reservation-no_chkbox').attr('roomCode'),
            RoomId: $(this, '.data-reservation-no_chkbox').attr('roomId'),
            GuestProfileId: $(this, '.data-reservation-no_chkbox').attr('guestprofId'),
        });
        $('#btnAdd').removeClass('disabled');
    });

    $('#btnAdd').click(function () {
        $('#Advancedpayment-billheader').html('');
        var elements = '<tr>' +
                           '<td class="report-width75perc" style="width:60%" >' +
                                 '<div class="row" style="padding-left:20px">  <b>Res#:&nbsp</b>' + guestInfo[0].ReservationNo + '</div>' +
                                '<div class="row" style="padding-left:20px">  <b>Room:&nbsp</b>' + guestInfo[0].RoomCode + '</div>' +
                           '</td>' +
                           '<td class="report-width25perc" style="width:40%">' +
                               '<div class="row RptinvoiceNo" style="padding-left:10px"><b>Receipt#:&nbsp </b> </div>' +
                               '<div class="row" style="padding-left:10px"><b>Date:&nbsp</b>@DateTime.Now.AddMinutes(55).ToString("dd'/'MM'/'yyyy HH:mm:ss")</div>' +
                           '</td>' +
                           '</tr>' +
                         '<tr class="report-width100perc" style="width:100%"> <td><div class="row" style="padding-left:20px;"><b>Name:&nbsp</b>' + guestInfo[0].GuestName + '</div></td></tr>';


        $(elements).appendTo($('#Advancedpayment-billheader'));


    });


    $('#BillTypeId').change(function () {

        $.ajax({
            url: '/CashieringAndPosting/Posting/GetPostingTypePrice',
            dataType: 'Json',
            data: { postingTypeId: parseInt($("#BillTypeId option:selected").val()) },
            method: 'POST',
            success: function (data) {
                $("#Amount").val(Number(parseFloat(data.Price).toFixed(2)).toLocaleString('en', { minimumFractionDigits: 2 }));

            },
            error: function (error) {
                ShowErrorMessage('Sorry, There is an error.');
            }

        });

    })

    $('#btnprint').on('click', function (e) {
       
        //$('#ReportHeader .table-posting td .RptinvoiceNo').text().replace('Receipt No:','').trim()
        var type = "";
        var invoiceNo = "";
         var postingtype = $('#PosringTypehdn').val();
         if (postingtype == "inhouse") {
         type = 'I';
         invoiceNo = $('#ReportHeader .table-posting td .RptinvoiceNo').text().replace('Receipt#:', '').trim();
         }
         else {
        type = 'W'
        invoiceNo = $('#ReportHeader #Advancedpayment-billheader td .RptinvoiceNo').text().replace('Receipt#:', '').trim();
         }
        var reportName = 'AdvancePaymentReciept';
        $('#btnprint').attr("href", '/Reporting/Report/ViewReport?ReportName=' + reportName + '&DocNo=' + invoiceNo + '');

    //    //$('#btnBillPreview').attr('width', '1000px')
    //    // $('#btnprint').attr('href', '/reporting/Posting/AdvancePayment?DocNo=' + invoiceNo + '&Type=' + type);
    //     $('#btnprint').attr('href', '/reporting/Posting/AdvancePayment?DocNo='+invoiceNo);

    //    //} else {
    //    //     ShowWarningMessage("Select a Folio to Preview")
    //    //}
    //    //Then claculate tax in Invoice view.
    });

</script>
