@model  IEnumerable<Scienter.HotelERP.Common.Domain.User>

@{
    ViewBag.Title = "Existing Users";
}

<div class="table-responsive">
    <table id="existingUserGrid" class="table table-striped">
        <thead>
            <tr>
                <th class="col-md-8 text-primary">
                    User Name
                </th>
                <th class="col-md-1 text-primary">
                    Active
                </th>
                <th class="col-md-1 text-primary">
                    Lock
                </th>
                <th class="col-md-2 hidden-print"></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <input type="hidden" class="hidden-user-id" value="@item.Id">
                        @Html.DisplayFor(modelItem => item.Username)
                    </td>
                    <td class="text-right">
                        <div class="form-group checkbox">
                            <label>
                                @Html.DisplayFor(modelItem => item.IsActive)
                                <span class="hidden">
                                    @if (item.IsActive)
                                    {
                                        @:Active
                                    }
                                    else
                                    {
                                        @:Inactive
                                    }
                                </span>
                            </label>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="form-group checkbox">
                            <label>
                                @Html.DisplayFor(modelItem => item.IsLocked)
                                <span class="hidden">
                                    @if (item.IsLocked)
                                    {
                                        @:Active
                                    }
                                    else
                                    {
                                        @:Inactive
                                    }
                                </span>
                            </label>
                        </div>
                    </td>

                    <td class="hidden-print text-right">


                        <a class="btn btn-theme-color-2 btn-sm" id="btnUserWiseProperties" title="Properties" target="_blank" href="/useraccess/userwiseproperties?userId=@item.Id">
                            <span class="glyphicon glyphicon-home"></span>
                        </a>
                        <a class="btn btn-theme-color-2 btn-sm" id="btnUserWiseRole" title="Roles" target="_blank"  href="/useraccess/userwiseroles?userId=@item.Id">
                                <span class="glyphicon glyphicon-user"></span>
                            </a>

                        <a class="btn btn-theme-color-2 btn-sm btn-edit-check-html" title="Edit" id="btnEdit">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                        <a class="btn btn-danger btn-sm call-popup-model-delete" id="btnDelete" title="Remove" data-href="/useraccess/users/delete/@item.Id">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>


<script>

    $('.btn-edit-check-html').click(function () {

       
        $.ajax({
            method: 'get',
            datatype: 'html',
            url: '/useraccess/users/Edit?id=' + $(this).closest('tr').find('.hidden-user-id').val(),
            success: function (response) {
                $('#contentLoadingArea').html('').fadeOut();
                $('#contentLoadingArea').html(response).fadeIn();

            }
        })
    })

    $(document).ready(function () {
        $('#existingUserGrid').DataTable(
            {
                //"dom": '<"top"ifb>rt<"bottom"lp><"clear">',
                searching: true,
                ordering: true,
                //"lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                dom: 'Bfrtipl',
                select: true,
                buttons: [
                            'copy',
                            'excel',
                            'csv',
                            'pdf',
                            'print'
                ],
                scrollY: '58vh',
            } );
    });




</script>