


<div>
    <label class="control-label">Job Type</label>

    <select id="JobTypeId" name="JobTypeId" class="form-control" required>
        <option value=""></option>
        <option value="1">Preventive</option>
        <option value="2">Ad Hoc</option>
    </select>
</div>
