@model Scienter.HotelERP.FrontOffice.WebUIMvc.Models.Login
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>User Login</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/mega-menu/css/reset.css" rel="stylesheet" />
    <link href="~/Content/mega-menu/css/style.css" rel="stylesheet" />
    <link href="~/Content/Theme.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link href="~/Content/material-dashboard.css" rel="stylesheet" />

    <style>
        .card-content {
        }

        body {
            background-color: none !important;
        }
        /*html {
            background: url('/Images/login-bg.png') no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            background-color:#d8d8d8;
        }*/
        .card-header {
            background-color: #6f195b !important;
        }

        .tile-height {
            height: 80px !important;
        }
    </style>

    @if (Scienter.HotelERP.Common.Utility.Configs.GetAppSettingValue("ThemeColor") == "blue")
    {
        <link href="~/Content/scienter.theme.blue.css" rel="stylesheet" />
    }
</head>
<body>
    <div class="container" style="padding-top:80px;">
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <div class="row">
                <div class="col-md-6 tile-height">
                    <a><span class="tile-lable tile-dark"></span></a>
                </div>
                <div class="col-md-6  tile-height flip" style="background-color:#34495e" data-order="2">
                    <a><span class="tile-lable tile-light"></span></a>
                </div>
                <div class="col-md-6  tile-height" style="background-color:#e67e22">
                    <a><span class="tile-lable tile-light"></span></a>
                </div>
                <div class="col-md-6  tile-height">
                    <a><span class="tile-lable tile-light"></span></a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 tile-height">
                    <a><span class="tile-lable tile-dark"></span></a>
                </div>
                <div class="col-md-6  tile-height flip" style="background-color:#34495e" data-order="3">
                    <a><span class="tile-lable tile-light"></span></a>
                </div>
                <div class="col-md-6  tile-height" style="background-color:#95a5a6">
                    <a><span class="tile-lable tile-light"></span></a>
                </div>
                <div class="col-md-6  tile-height">
                    <a><span class="tile-lable tile-light"></span></a>
                </div>
                <div class="col-md-6  tile-height flip" data-order="4">
                    <a><span class="tile-lable tile-light"></span></a>
                </div>
                <div class="col-md-6 tile-height">
                    <a><span class="tile-lable tile-dark"></span></a>
                </div>

            </div>
        </div>
        <div class="col-md-2">
            <div class="row">
                <div class="col-md-6 tile-height">
                    <a></a>
                </div>

                <div class="col-md-6  tile-height">
                    <a></a>
                </div>
                <div class="col-md-6  tile-height" style="background-color:#e67e22" data-order="1">
                    <a><span class="tile-lable tile-light"></span></a>
                </div>
                <div class="col-md-6  tile-height">
                    <a></a>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 tile-height" style="background-color:#d0d0d0">
                    <a><span class="tile-lable tile-dark"></span></a>
                </div>

                <div class="col-md-6  tile-height" style="background-color:#34495e">
                    <a><span class="tile-lable tile-light"></span></a>
                </div>
                <div class="col-md-6  tile-height flip" style="background-color:#e67e22" data-order="1">
                    <a><span class="tile-lable tile-light"></span></a>
                </div>
                <div class="col-md-6  tile-height" style="background-color:#808080">
                    <a><span class="tile-lable tile-light"></span></a>
                </div>

                <div class="col-md-6 tile-height" style="background-color:#34495e; padding:0px; padding-top:30px;">
                    <a></a>
                    <img src="~/Images/destinity-left.png" style="float:right; width:90px;" />
                </div>
                <div class="col-md-6 tile-height" style="padding:0px; padding-top:30px;">
                    <a></a>
                    <img src="~/Images/destinity-right.png" style="float:left;width:80px;" />
                </div>


            </div>
        </div>
        <div class="col-md-3"></div>

        <div class="col-md-3">
            <div class="card" style="margin-top:70px;">
                <div class="card-header card-header-icon" style="padding-bottom:5px;">
                    <div class="row">
                        <div class="col-md-12" style="padding-top:11px; text-align:right;">
                            <span href="http://www.scienter.lk" target="_blank">
                                <img src="~/Images/destinity-horizon-logo-full.png" width="280px" style="margin-top:5px; margin-bottom:5px;" />
                            </span>
                        </div>
                    </div>
                </div>
                <div class="login-card-min-height card-content">

                    @if (ViewBag.MsgType == "E")
                    {
                        <div class="alert alert-danger alert-dismissible fade in">
                            <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>Opps!</strong> @ViewBag.Msg
                        </div>
                    }
                   
                        @*<form method="post" action="/login/submit" style="margin-bottom:5px;">*@
                            <form method="post" action="/Saaslogin/submit" style="margin-bottom:5px;">
                                <div class="form-group label-floating is-empty">
                                    <label class="control-label">Username</label>
                                    <input type="text" class="form-control" name="Username" value="@ViewBag.Username" autocomplete="off" required>
                                    <span class="material-input"></span>
                                    @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger", autocomplete = "off" })

                                </div>
                                <div class="form-group label-floating is-empty">
                                    <label class="control-label">Password</label>
                                    <input type="password" class="form-control" name="Password" autocomplete="off" required>
                                    <span class="material-input"></span>
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger", autocomplete = "off" })
                                </div>
                                <div class="form-group checkbox" style="margin-top:10px;">
                                    <label>
                                        <input type="checkbox" id="RememberMe" value="true" name="RememberMe" /> Keep Login
                                    </label>
                                </div>

                                <div class="form-group row" style="margin-top:0px;">
                                    <button type="submit" class="btn btn-fill btn-primary">Submit</button>
                                </div>

                            </form>

</div>
            </div>



        </div>
    </div>
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Content/mega-menu/js/main.js"></script>

    <script src="~/Scripts/material.min.js"></script>
    <script src="~/Scripts/chartist.min.js"></script>
    <script src="~/Scripts/arrive.min.js"></script>
    <script src="~/Scripts/perfect-scrollbar.jquery.min.js"></script>
    <script src="~/Scripts/bootstrap-notify.js"></script>
    <script src="~/Scripts/material-dashboard.js"></script>
    <script src="~/Scripts/ui/common/scienter.lablefloating.override.js"></script>
    <script>
        //setTimeout(function () {
        //    $('input').val("");
        //}, 1000);

        $('.close').find('.alert-dismissible').fadeOut();
    </script>

    <script>
        $(document).ready(function () {
            var loopIndexOvrd = 1;
            $('a').hide();
            //$('a').each(function (index, item) {

            //    if (loopIndexOvrd > 3) {
            //        loopIndexOvrd = 1;
            //    }
            //    setInterval(function () {
            //        $(item).hide('fast');
            //    }, (3500 * (index + loopIndexOvrd)));

            //    setInterval(function () {
            //        $(item).show('fast');
            //    }, (1500 * (index + loopIndexOvrd)));
            //    loopIndexOvrd = loopIndexOvrd + 1;
            //});
        });
    </script>

</body>
</html>
