

@*<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" data-background-color="purple">
                <div class="row">
                    <div class="col-md-8">
                        <h4 class="title">
                            Group Wise Details
                            <hr class="visible-print" />
                        </h4>
                    </div>
                    <div class="col-md-4 text-right hidden-print">
                        <button type="button" class="btn btn-sm btn-theme-color-2" id="showForm">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>

                        <button type="button" class="btn btn-sm  btn-theme-color-2" id="showGrid">
                            <span class="glyphicon glyphicon-th-list"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-content" id="contentLoadingArea">
                <div class="row grid">
                    <div class="table-responsive">
                        <input type="text" id="searchby" onkeyup="SearchGrid()" placeholder="Search by any Column" title="Search by any Column">
                        <div id="loadingProjects" class="well">
                            <center>
                                <img src="" style="width:50px; margin-top:20px; margin-bottom:0px;" />
                            </center>
                        </div>
                        <table class="table table-striped" id="grid" style="display:none;">
                            <tr>
                                <th>Tax Group Code</th>
                                <th>Tax Type Code</th>
                                <th>Actual Percentage</th>
                                <th>Charge Type Sequence</th>
                                <th class="col-md-1">Active </th>
                                <th class="col-md-1"></th>
                            </tr>
                            <tr class="no-record">
                                <td colspan="4">No Records Found.</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <form id="form" class="form" enctype="multipart/form-data">
                    <input type="hidden" id="ChargeDetailID" name="ChargeDetailID" />
                    <div class="row">
                        <div class="col-md-2 form-group label-floating">
                            <label class="control-label">Tax group</label>
                            <select id="taxGroupCombo" class="form-control font-size-16px" required>
                              
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 form-group label-floating">
                            <label class="control-label">Tax Type</label>
                            <select id="taxTypeCombo" class="form-control @*font-size-16px" required>
                              
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group label-floating">
                                <label class="control-label">Actual Percentage *</label>
                                <input type="number" class="form-control" id="ActualPercentage" name="ActualPercentage" min="0"  value="" step="0.0001" required autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group label-floating">
                                <label class="control-label">ChargeType Sequence *</label>
                                <input type="number" class="form-control" id="ChargeTypeSequence" name="ChargeTypeSequence" min="0" required autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="checkbox">
                                <label><input type="checkbox" id="IsActive" name="IsActive" checked value="1"> Active </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-success btn-width-100px" id="btnSubmit">
                                Save
                            </button>
                            <button type="button" class="btn btn-default btn-width-100px btn-shadow" onclick="ClearForm()">
                                Clear
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/scripts/UI/scienter.Taxgroupwisedetails.js"></script>*@