@{ 
    Layout = "";
}


<div class="row">
    <div class="col-md-3">
        <fieldset class="the-fieldset" style="height:448px;">
            <legend class="the-legend">Reservation Details</legend>

            <div class="row">
                <div class="col-md-12 form-group label-floating margin-top-10px">
                    <label class="control-label"> Select Reservation No</label>
                    <select class="form-control" required>
                        <option value=""></option>
                        <option value="R135001">R135001</option>
                        <option value="R135002">R135002</option>
                        <option value="R135003">R135003</option>
                        <option value="R135004">R135004</option>
                        <option value="R135005">R135005</option>
                        <option value="R135006">R135006</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 form-group label-floating margin-top-10px">
                    <label class="control-label"> Guest</label>
                    <input type="text" class="form-control" name="GuestName" value="Mr. Sachith Nuwan Kalehe Watta" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 form-group label-floating margin-top-10px">
                    <label class="control-label"> Stay</label>
                    <input type="text" class="form-control" name="GuestName" value="2017-12-30 to 2018-01-03" />
                </div>
            </div>

        </fieldset>
             

    </div>

    <div class="col-md-9">
        <fieldset class="the-fieldset" style="height:448px; padding-top:5px;">
            <legend class="the-legend">Room Area - First Block</legend>
            <a href="" class="btn btn-primary">First Floor</a> <a href="" class="btn btn-primary">Second Floor</a> <a href="" class="btn btn-primary">Third Floor</a>
            <hr style="margin-top:10px; margin-bottom:10px;" />

            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-12"></div>
            </div>
        </fieldset>
    </div>

</div>
