@model IEnumerable<Scienter.DestinityHorizon.Common.Domain.POS_AccessCodes>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="row">
    <div class="col-md-12 hidden-print">
        <fieldset class="the-fieldset" style="height:484px;">

            <div class="col-md-12" id="RoomLoadingArea" style="height: 360px; overflow-y: auto;margin-top:10px">
                <ul id="myUL">
                    @foreach (var item in Model)
                    {
                        <li>
                            <div class="checkbox col-md-3">
                                <label>
                                    <input type="checkbox" class="checkBoxGroup" accessCode-no="@item.Id" value="" />@item.DisplayName
                                </label>
                            </div>
                        </li>
                    }
               </ul>
            </div>
        </fieldset>

    </div>
</div>

