
<form id="compForm">
    <input type="hidden" id="comMealReservationId" value="@ViewBag.MResId" />
    <div class="row">
        <div class="col-md-6">
            <div class="form-group label-floating">
                <label class="control-label">Note </label>
                <input class="form-control text-box single-line" id="CompleteNote" name="MealReservationCompleteNote" type="text">
            </div>
        </div>
    </div>

    <div class="row btnResComplete">
        <div class="col-md-12 text-right" style="margin-top:25px;">
            <button type="button" class="btn theme-bg-color-2" id="btnResComplete">
                Done  <span class="glyphicon glyphicon-arrow-right"></span>
            </button>
        </div>
    </div>

</form>
