<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections/>
  <connectionStrings>
    <add name="CentralAccessDbConnectionString" connectionString="Data Source=192.168.2.30,3431;Initial Catalog=CentralAccessDB;Persist Security Info=True;User ID=stpluser; Password=tommya"/>
    <add name="SqlServer2016ConnectionString" connectionString="Data Source=192.168.2.30,3431;Initial Catalog=HotelResWeb;Persist Security Info=True;User ID=stpluser; Password=tommya"/>
    <add name="SqlServer2016POS" connectionString="Data Source={0};Initial Catalog={1};Persist Security Info=True;User ID={2}; Password={3}" providerName="System.Data.SqlClient"/>
    <add name="SqlServer2016Inventory" connectionString="Data Source=192.168.2.30;Initial Catalog=Categlog_vrV2;Persist Security Info=True;User ID=stpluser; Password=tommya"/>
    <add name="PassportDbConnection" connectionString="Data Source=192.168.2.30;Initial Catalog=HotelResWeb_PassportScan;Persist Security Info=True;User ID=stpluser; Password=tommya" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="ManagedIdentityClientId" value="0"/>
    <add key="FilesUploadTo" value="LocalStorage"/>
    <!--AzureBlobStorage || LocalStorage-->
    <add key="LocalStorage" value="aHR0cHM6Ly9hejkwMHNhY2hpdGguYmxvYi5jb3JlLndpbmRvd3MubmV0L3NjaWVudGVyP3NwPXJhY3dsaSZzdD0yMDI0LTAxLTMwVDEwOjE3OjIwWiZzZT0yMDI0LTA3LTMwVDE4OjE3OjIwWiZzcHI9aHR0cHMmc3Y9MjAyMi0xMS0wMiZzcj1jJnNpZz1oaFJPRTJWSjhKJTJCRHhQZ1lGdlpGelFXU29md3EydjB5bSUyQmNOdmslMkY0cDY0JTNE"/>
    <add key="ReservationSiteURL" value="https://front.pms.araliyaresorts.com/"/>
    <!--NEw-->
    <!--This name need to change-->
    <add key="WebsiteURL" value="https://front.pms.araliyaresorts.com/"/>
    <add key="WebsiteURLPayment" value="https://front.pms.araliyaresorts.com/"/>
    <add key="IsCentralLoginEnabled" value="1"/>
    <add key="IsMailEnabled" value="0"/>
    <add key="IsApi" value="0"/>
    
    <!--<add key="CentralAccessApi" value="http://192.168.3.140:8092/" />
    <add key="LoginPortalUrl" value="https://192.168.3.140:5443/" />-->

    <add key="CentralAccessApi" value="http://localhost:8092/"/>
    <add key="LoginPortalUrl" value="https://uat-pms.brownshotels.com/"/>
    
    <add key="SaasModule" value="true"/>
    <add key="LoginDb" value="DestinityHorizon_Saas"/>
    <add key="SaasServer" value="161.97.175.199\SQL2019MP"/>
    <add key="Username" value="sa"/>
    <add key="Password" value="tommya"/>
    <add key="IBEConfirmationPageURL" value="https://front.pms.araliyaresorts.com/booking/confirmation/"/>
    <add key="ThemeColor" value="blue"/>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="ConnectionTimeout" value="3600"/>
    <add key="ReportAppBaseUrl" value="http://jwh-pms-app-tes/ReportServer/"/>
    <add key="vs:EnableBrowserLink" value="false"/>
    <!--Email Settings-->
    <add key="emailHost" value="smtp.gmail.com"/>
    <add key="emailPort" value="587"/>
    <add key="emailSSL" value="true"/>
    <add key="emailUsername" value="scienter.hotels@gmail.com"/>
    <add key="emailPassword" value="Admin@12E45#"/>
    <add key="emailSendFromEmail" value="scienter.hotels@gmail.com"/>
    <add key="emailSendEmailDisplayName" value="Advance Payment"/>
    <add key="BaseURL" value="https://localhost:44328/"/>
    <add key="serviceEndpoint" value="https://sampath.paycorp.lk/rest/service/proxy"/>
    <add key="emailCc" value="sachith.kalehewatta@gmail.com"/>
    <add key="emailBcc" value="sachithk@scienter.lk"/>
    <add key="returnUrl" value="https://localhost:44328/advance/response"/>
    <add key="saaSReturnUrl" value="https://localhost:44328/saas/paymentresponse"/>
    <add key="authToken" value="994b2c52-b424-4c05-abac-088ffcb1f048"/>
    <add key="hmacSecret" value="XKFbUiTURP248BRD"/>
    <add key="clientIdUSD" value="14003502"/>
    <add key="clientIdLKR" value="14003501"/>
    <add key="ReportWidth" value="1200"/>
    <add key="ReportHeight" value="530"/>
    <!--Path for error log file-->
    <add key="ErrorLogFolder" value="C:\ErrorLog"/>
    <add key="ErrorLogFile" value="\ErrorLog.txt"/>
    <add key="ReportSourceConStr" value="Data Source=192.168.2.30,3431;Initial Catalog=HotelResWeb"/>
    <add key="ReportServer" value="http://browns-hotels-a:8045/ReportServer"/>
    <add key="SSRSReportsFolder" value="Front Office Reports Server Projects"/>
    <add key="ReportServerUserName" value="Administrator"/>
    <!--Values for direct printing-->
    <add key="IsDirectPrint" value="1"/>
    <add key="IsCurrencyEncashmentDirectPrint" value="1"/>
    <add key="IsLaundryDirectPrint" value="1"/>
    <add key="IsPCPostingDirectPrint" value="1"/>
    <add key="DirectPrintURL" value="http://localhost:1302/"/>
    <add key="IsPassportHubURL" value="0"/>
    <add key="FiscalPrinterURL" value="http://localhost:1304/"/>
    <add key="ExternalApiBaseUrl" value="http://192.168.3.140:8081/"/>
    <add key="VButlerImageUploadUrl" value="http://119.13.103.4:6069/api/upload/document" />
    <add key="VButlerAPIBaseUrl" value="http://119.13.103.4:6069/attachments/" />
    <!--End of report server configurations-->
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off"/>
    <!--<customErrors mode="On" defaultRedirect="~/ErrorHandler/Index"> 
      <error statusCode="500" redirect="~/ErrorHandler/NotFound" />
    <customErrors mode="On">
    </customErrors>-->
    <sessionState mode="InProc" timeout="60"/>
    <compilation targetFramework="4.8">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
      </buildProviders>
    </compilation>
    <authentication mode="None"/>
    <pages validateRequest="true" clientIDMode="Predictable">
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
        <add namespace="System.Web.UI.WebControls"/>
      </namespaces>
    </pages>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false"/>
    </httpHandlers>
    <httpModules>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v17.2, Version=17.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule"/>
    </httpModules>
    <globalization culture="" uiCulture=""/>
    <httpRuntime maxRequestLength="4096" requestValidationMode="4.0" executionTimeout="110" targetFramework="4.5.2"/>
  </system.web>
  <system.webServer>
    <!--<staticContent>
      <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff"/>
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff"/>
      <mimeMap fileExtension=".json" mimeType="application/json"/>
      <mimeMap fileExtension=".map" mimeType="application/json"/>
    </staticContent>-->
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
    <handlers>
      <!--<add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />-->
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="30000000"/>
      </requestFiltering>
    </security>
    <!--<rewrite>
      <rules>
        <rule name="Http Redirect" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" appendQueryString="false" />
        </rule>
      </rules>
    </rewrite>-->
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Build.Framework" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EnvDTE" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845DCD8080CC91" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.WebForms" publicKeyToken="89845dcd8080cc91" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.ProtectedData" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.1" newVersion="4.0.5.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.1" newVersion="6.0.0.1"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>
<!--ProjectGuid: 2A8B585A-0DCE-4EA5-AB07-623276AC0DA9-->