
@{
    ViewBag.Title = "Manage Out Of Order";
    if (Request.Url.ToString().Contains("OutOfService"))
    {
        ViewBag.Title = "Manage Out Of Service";
    }

}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" data-background-color="purple">
                <div class="row">
                    <div class="col-md-8">
                        <h4 class="title">
                            @ViewBag.Title
                            <hr class="visible-print" />
                        </h4>
                    </div>
                    <div class="col-md-4 text-right hidden-print">
                        <button type="button" class="btn btn-sm btn-theme-color-2 showForm">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>

                        <button type="button" class="btn btn-sm  btn-theme-color-2 showGrid">
                            <span class="glyphicon glyphicon-th-list"></span>
                        </button>

                    </div>
                </div>
            </div>
            <div class="card-content" id="contentLoadingArea">
                <div id="content">

                </div>
                @Html.Partial("_Loading")
            </div>
        </div>
    </div>
</div>

@*<script src="~/Scripts/jquery-3.2.1.min.js"></script>*@
<script src="~/Scripts/ui/common/scienter.grid2.js"></script>
<script>
    //$(function () {
    //    ShowForm();
    //})

    //function ShowForm() {
    //    $.ajax({
    //        url: '/housekeeping/outofordertxn/form',
    //        dataType: 'html',
    //        method: 'get',
    //        success: function (response) {
               
    //            $('#contentLoadingArea').html('').fadeOut();
    //            $('#contentLoadingArea').html(response).fadeIn();
    //        }
    //    });
    //}

    // form load --------------------------------
    $(document).ready(function () {
        //FillGrid();
        $('.showForm').click();
    });

    // show form --------------------------------
    $('body').on('click', '.showForm', function (e) {
        $.ajax({
            url: '/housekeeping/outofordertxn/form',
            dataType: 'html',
            method: 'POST',
            success: function (response) {      
                $('#contentLoadingArea #content').html('').fadeOut();
                $('#contentLoadingArea #content').html(response).fadeIn();
            }

        });
    });

    // show grid --------------------------------

    $('body').on('click', '.showGrid', function (e) {
        FillGrid();
    });
    // save --------------------------------------
    $('body').on('submit', '#outOfOrderTXN', function (e) {
       
        e.preventDefault();
        var selected_room_well = [];   
        var isOutOfService = 0;

        if (window.location.href.indexOf("OutOfService") !== -1) {
            // "OutOfService" exists in the URL
            isOutOfService = 1;
        }

        $('.selected-room-well').each(function (index, item) {
            if ($($(item).find('#room-id'))) {               
                SelectedRoomWell = {  
                    RoomId: $($(item).find('#room-id')).val(),
                    IsOutOfService: isOutOfService
                };
                selected_room_well.push(SelectedRoomWell);  
            }
        });   
            var OutofOrderTransaction = {
                __RequestVerificationToken: $('__RequestVerificationToken').val(),
                Id: $('#Id').val(),
                RoomIds: JSON.stringify(selected_room_well),
                FromDate: $('#FromDate').val(),
                ToDate: $('#ToDate').val(),
                OutOfOrderReasonId: $('#OutOfOrderReasonId').val(),
                OutOfOrderStatusId: 2044,
                ReleaseAsId: $('#ReleaseAsId').val(),
                Remarks: $('#Remarks').val(),

            };
            //
           // console.log(OutofOrderTransaction);
          
            $.ajax({
                url: '/housekeeping/outofordertxn/save',
                dataType: 'html',
                data: OutofOrderTransaction,
                method: 'POST',
                success: function (response) {
                   
                    if (response.includes("ERR-")) {
                        ShowWarningMessage(response.replace("ERR-",""));
                    } else {
                        ShowSuccessMessage('Record has been saved successfully.');
                        $('.showForm').click();
                    }
                   // FillGrid()
                },
                error: function (xhr, status, error) {
                   
                    ShowErrorMessage('Sorry, There is an error in saving this record.');
                }
            });          

    }); 

    // fill grid -----------------------------------
    function FillGrid() {
        var gridId = "#existingOutOfOrderTxnGrid"; // change this - relevent grid id
        var paginations = {
            PageIndex: $(gridId).attr('data-page-index'),
            PageSize: $(gridId).attr('data-page-size'),
            FilterType: $(gridId).attr('data-filter-type'),
            SearchKeyword: $(gridId).attr('data-search-keyword')
        }
        $.ajax({
            url: '/housekeeping/outofordertxn/selectforgrid',
            dataType: 'html',
            data: paginations,
            method: 'POST',
            success: function (response) {
                if ($('.grid-container').length > 0) {
                    $('#contentLoadingArea #content').find($('.grid-container')).html('').fadeOut();
                    $('#contentLoadingArea #content').find($('.grid-container')).html(response).fadeIn();
                } else {
                    $('#contentLoadingArea #content').html('').fadeOut();
                    $('#contentLoadingArea #content').html(response).fadeIn();
                }           

            }

        });
    }

    function FillRooms() {
        //e.preventDefault();
        $.ajax({
            url: '/HouseKeeping/OutOfOrderTXN/RoomList',
            dataType: 'json',
            method: 'GET',
            success: function (data) {
               
                $.each(data, function (index, data) {
                    var ooc = '';
                    if (data.OutOfOrder == 1) {
                        ooc = 'outoforder-room-well';
                    }
                    $('.out-of-order-rooms').append('<div class="col-md-2  room-block" data-room-text="' + data.Name+'" style="padding:2px"><div class="well room-well ' + ooc +'"><h6>' + data.Name + '<input type="hidden" value="' + data.Id +'" id="room-id" /></h6></div></div>');
                })
            }
        });
    }


    $('body').off('keyup', '#roomSearchBy').on('keyup', '#roomSearchBy', function () {
        FilterRooms();
    });

    $('body').off('click', '.searchByBtn').on('click', '.searchByBtn', function () {
        FilterRooms();
    });

    function FilterRooms() {
        debugger;
        $('.room-block').hide();
        $('.room-block').each(function (index, item) {
            if ($(item).attr('data-room-text').toLowerCase().includes($('#roomSearchBy').val().toLowerCase())) {
                $(item).fadeIn();
            }
        });
    }

    //function FillOutofOrderGrid() {

    //    if ($('#companymaingrid').length == 1) {
    //        $('#companymaingrid tr').not(':first-child').remove();
    //        //var reqUrl = '/MemberRegistration/SelectTempMemberWiseCompanyDetailsByUUId';

    //        $.ajax({
    //            //url: reqUrl,
    //            dataType: 'JSON',
    //            data: { key: key },
    //            method: 'POST',
    //            success: function (data) {
    //                $.each(RegMemberWiseCompanies, function (index, item) {
    //                    $('<tr>' +
    //                        '<td>' +'' + '</td>' +
    //                        '<td>' + '' + '</td>' +
    //                        '<td>' + '' + '</td>' +
    //                        '<td class="text-right">' +
    //                        '<button type="button" class="btn btn-icons btn-inverse-secondary" id="data-company-deletebtn-id" data-tempmember-id="' + item.MemberId + '" data-companyrecord-id="' + item.CompanyId + '"><div><i class="icon-trash"></i></div></button>' +
    //                        '<span class="fa fa-pencil"></span>' +
    //                        '</a>' +
    //                        '</td>' +
    //                        '</tr>').appendTo($('#companymaingrid'));
    //                });
    //            },
    //            error: function (xhr, status, error) {
    //                console.log(error);
    //            }
    //        });
    //    }
    //}

   

    $('body').on('click', '.room-well', function () {

        if ($(this).hasClass('selected-room-well')) {
            $(this).removeClass('selected-room-well');
        } else {
            $(this).addClass('selected-room-well');
        }

        if ($('.selected-room-well ').length > 1) {
            $('.room-wise-outoforder-grid').hide();
        } else if ($('.selected-room-well ').length == 1) {
            $('.room-wise-outoforder-grid').show();
            var roomId = $('.selected-room-well ').find('#room-id').val();

            $.ajax({
                url: '/housekeeping/outofordertxn/SelectOutOfOrderListRoomWise?roomId=' + roomId,
                dataType: 'json',
                method: 'get',
                success: function (data) {
                    $('.room-wise-outoforder-grid').html('');

                    $.each(data, function (index, item) {
                        $('.room-wise-outoforder-grid').append('<tr>' +
                            '<td>' + item.FromDateString + '</td>' +
                            '<td>' + item.ToDateString + '</td>' +
                            '<td>' + item.OutofOrderReason + '</td>' +
                            '<td style="text-align:right"><button type="button" data-rowID = "' + item.Id + '" class="btn btn-danger btn-sm outoforderdelete"> <span class="glyphicon glyphicon-minus"></span></button></td></tr>');
                    })
                }
            });
        } 
        
    })

    $('body').on('click', '.outoforderdelete', function () {
        if (confirm("Are you sure you want to release this room?")) {
            var val = $(this).attr('data-rowID');
            var val1 = $(this).data('rowID');
            $.ajax({
                url: '/housekeeping/outofordertxn/QuickDeleteRoomWise?id=' + $(this).attr('data-rowID'),
                dataType: 'json',
                method: 'get',
                success: function (data) {
                    $('.showForm').click();
                }
            });
        }
    })
</script>

