@model IEnumerable<Scienter.HotelERP.Common.Domain.ViewModels.RoomWiseInventoryItemView>

@{
    ViewBag.Title = "room wise inventory items";
}

<div class="table-responsive">
    <table class="table table-striped"
           id="existingRoomWiseInventoryItemGrid">
        <thead>
            <tr>
                <th class="text-primary">
                    Room Name
                </th>

                <th class="col-md-1 text-primary">
                    Inventory Item Name
                </th>
                <th class="col-md-1 text-primary">
                    Quantity
                </th>
                <th class="col-md-1 hidden-print"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.RoomName)

                    </td>
                    <td class="col-md-1">
                        @Html.DisplayFor(modelItem => item.InventoryItemName)

                    </td>
                    <td class="col-md-1">
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td class="hidden-print text-right">
                        <a class="btn btn-theme-color-2 btn-sm call-popup-model" id="btnPrint" data-title="room wise inventory items - @item.RoomName" data-href="/administration/roomwiseinventoryitems/print/@item.Id">
                            <span class="glyphicon glyphicon-print"></span>
                        </a>


                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function () {
        $('#existingRoomWiseInventoryItemGrid').DataTable(
            {
                //"dom": '<"top"ifb>rt<"bottom"lp><"clear">',
                searching: true,
                ordering: true,
                //"lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                dom: 'Bfrtipl',
                select: true,
                buttons: [
                            'copy',
                            'excel',
                            'csv',
                            'pdf',
                            'print'
                ],
                scrollY: '58vh',
            } );
    });
</script>