
    <div class="row">
        <div class="col-md-10">
            <b>This reservation has an advance payment please refund the advance payment and cancel the reservation.</b>
        </div>

    </div>
    @*<div class="row">
        <div class="form-group col-md-5">
            <input type="button" id="btnAdvancePayment" value="Proceed to advance payment" class="btn btn-primary" />

        </div>
        <div class="col-md-1"></div>
        <div class="form-group col-md-4">
            <input type="button" id="btnCancellation" value="Cancel reservation" class="btn btn-primary" />

        </div>
    </div>*@



