
@*@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}*@



<div class="row">
    <div class="col-md-12">
        <form id="Options">
            <div class="row">

                <div class="col-md-3">
                    <div class="form-group">
                        <button name="button" class="btn btn-primary full-width-100perc" style="background-color: purple;">Change Profile</button>
                    </div>                  
                </div>

                <div class="col-md-3">                    
                    <div class="form-group">
                        <button name="button" class="btn btn-primary full-width-100perc" style="background-color: saddlebrown;">Door Key Card</button>
                    </div>                   
                </div>

                <div class="col-md-3">                   
                    <div class="form-group">
                        <button name="button" class="btn btn-primary full-width-100perc"  style="background-color: darkgreen;">Arrival Departure</button>
                    </div>                   
                </div>

                <div class="col-md-3">                   
                    <div class="form-group">
                        <button name="button" class="btn btn-primary full-width-100perc"  style="background-color: lightseagreen;">Special Room Rates</button>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <button name="button" class="btn btn-primary full-width-100perc"  style="background-color: purple;">Change Profile</button>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <button name="button" class="btn btn-primary full-width-100perc"  style="background-color: saddlebrown;">Door Key Card</button>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <button name="button" class="btn btn-primary full-width-100perc"  style="background-color: darkgreen;">Arrival Departure</button>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <button name="button" class="btn btn-primary full-width-100perc"  style="background-color: lightseagreen;">Special Room Rates</button>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <button name="button"  class="btn btn-primary full-width-100perc" style="background-color: purple;">Change Profile</button>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <button name="button" class="btn btn-primary full-width-100perc"  style="background-color: saddlebrown;">Door Key Card</button>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <button name="button" class="btn btn-primary full-width-100perc"  style="background-color: darkgreen;">Arrival Departure</button>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <button name="button"  class="btn btn-primary full-width-100perc" style="background-color: lightseagreen;">Special Room Rates</button>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <button name="button"  class="btn btn-primary full-width-100perc" style="background-color: lightseagreen;">Special Room Rates</button>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>
