
<div id="loading" class="well" style="margin-top:20px;">
    <center>
        <img src="~/Images/loading.gif" style="width:120px; margin-top:20px; margin-bottom:0px;" />
        <br />
       Please wait, Loading ...
    </center>
    
</div>

