
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Payment Error</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <div> 
        <center>
            <br />
            <br />
            <img src="~/Images/logo.jpg" />
            <h2>@ViewBag.MsgHeader</h2>
            <h1>@ViewBag.Msg</h1>
            <h4>Please contact the hotel for more details.</h4>
            <a href="http://www.flamebackecolodge.com/">Visit Hotel Website</a>
        </center>
    </div>
</body>
</html>
