
@{
    ViewBag.Title = "Void Posting";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" data-background-color="purple">
                <div class="row">
                    <div class="col-md-8">
                        <h4 class="title">
                            @ViewBag.Title
                            <hr class="visible-print" />
                        </h4>
                    </div>
                    <div class="col-md-4 text-right hidden-print">
                        <button type="button" class="btn btn-sm btn-theme-color-2 showForm">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>

                        <button type="button" class="btn btn-sm  btn-theme-color-2 showGrid">
                            <span class="glyphicon glyphicon-th-list"></span>
                        </button>

                    </div>
                </div>
            </div>
            <div class="card-content" id="contentLoadingArea">
                <div id="content">

                </div>
                @*@Html.Partial("_Loading")*@
            </div>

        </div>
    </div>
</div>

<input type="hidden" name="name" id="IsVoidPostingScreen" value="1" />

<script>
    $(function () {
        CurrentPostingGrid();
    })

    function CurrentPostingGrid() {
       
        $.ajax({
            url: '/CashieringAndPosting/Posting/GetCurrentDatePostings',
            method: 'get',
            dataType: 'html',
            success: function (data) {
               
                $('#content').html('');
                $('#content').html(data);
            }
        })
    }

    function ShowVoidedPostings() {
       
        $.ajax({
            url: '/CashieringAndPosting/Posting/GetAllVoidedPostings',
            method: 'get',
            dataType: 'html',
            success: function (data) {
               
                $('#content').html('');
                $('#content').html(data);
            }
        })
    }

    $('body').on('click', '.showForm', function () {      
        CurrentPostingGrid();
    })

    $('body').on('click', '.showGrid', function () {
        ShowVoidedPostings();
    })

    function SendVoidToFiscalPrint(id) {
        if ($('#PrintingMethod').val() == 'F') {
            var fiscalPrinterUrl = '/Base/FiscalPrinter_VoidPosting?extraPostingId=' + id;
            FiscalPrinterRequest(fiscalPrinterUrl);
        }
    }
</script>