
@model Scienter.DestinityHorizon.Common.Domain.Central_Users

@{
    ViewBag.Title = "Self Reset Password ";
    Layout = "~/Views/Shared/_Layout.cshtml";

}



<style>
    /*.card-content {
    }*/

    body {
        background-color: none !important;
    }
    .inValid {
        color:#ff0000;
    }
    .Valid {
        color:green;
    }
    .tile-height {
        height: 80px !important;
    }

    .checkbox .checkbox-material .check {
        position: relative;
        display: inline-block;
        width: 20px;
        height: 20px;
        /* border: 1px solid rgba(0, 0, 0, .54); */
        border: 1px solid rgb(251, 96, 3);
        overflow: hidden;
        z-index: 1;
        border-radius: 0px;
    }

    .checkbox input[type=checkbox]:checked + .checkbox-material .check {
        background: #fb6003;
    }

    .checkbox .checkbox-material .check {
        position: relative;
        display: inline-block;
        width: 20px;
        height: 20px;
        /* border: 1px solid rgba(0, 0, 0, .54); */
        border: 1px solid rgb(251, 96, 3);
        overflow: hidden;
        z-index: 1;
        border-radius: 0px;
    }
</style>

<div class="container" style="padding-top:40px;">
    <div class="row">
        <div class="col-md-offset-3 col-md-6" >
            <div class="card" style="margin-top:70px; border-radius:0px">
                <div class="card-header card-header-icon" style="padding-bottom:5px;border-radius:0px">
                    <div class="row">
                        <div class="col-md-12" style="padding-top:11px;text-align: center;color: #fff;">
                            <span href="http://www.scienter.lk" target="_blank">
                                <span class="text-topic">
                                    Self Password Reset
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="login-card-min-height card-content" style="padding-left:30px; padding-right:30px;">
                    <div class="row">
                        <div class="col-md-6">
                        <form method="post" style="margin-bottom:5px;">
                            <input type="hidden" name="Id" id="Id" />
                            <div class="form-group label-floating  ">
                                <label class="control-label">Current Password</label>
                                <input type="password" class="form-control" name="CurrentPassword" id="CurrentPassword" autocomplete="off" required>
                                <span class="material-input"></span>
                            </div>
                            <div class="form-group label-floating ">
                                <label class="control-label">New Password</label>
                                <input type="password" class="form-control" name="NewPassword" id="NewPassword" autocomplete="off" required>
                                <span class="material-input"></span>
                            </div>
                            <div class="form-group label-floating ">
                                <label class="control-label">Confirm New Password</label>
                                <input type="password" class="form-control" name="ConfirmNewPassword" id="ConfirmNewPassword" autocomplete="off" required>
                                <span class="material-input"></span>
                            </div>
                            <div class="form-group row" style="margin-top:0px;">
                                <button type="submit" class="btn btn-fill btn-primary" style="border-radius:0px">Reset Password</button>
                            </div>
                        </form>
                    </div>
                       
                        <div class="col-md-6">
                            <fieldset class="the-fieldset" style="margin-top:30px; padding:15px 10px;"> 
                                <legend class="the-legend">Password Complexity</legend>
                                <div class="col-md-12" id="passwordComplexityAttributesLoadingArea">

                                </div>
                            </fieldset>
                        </div>
                    </div>
                    </div>
                </div>
        </div>
    </div>
    
</div>

<script src="~/Scripts/jquery-3.2.1.min.js"></script>

        <script>
            $(document).ready(function () {
                ResetPassword();
                LoadPasswordComplexityAttributes();

                $('.btn-primary').attr('disabled', true);
            });

            function LoadPasswordComplexityAttributes() {
                $.ajax({
                    method: 'GET',
                    url: '/Login/SelectPasswordComplexityById',
                    datatype: 'html',
                    success: function (data) {
                        console.log(data);
                        $.each(data, function (index, item) {

                            $(  '<ul id="myUL">' +
                                '<li class="inValid passwordAttribute" style="margin-bottom:5px;" id="complexityAttribute" reg-Ex="' + item.Regex.replace("####", '^.{' + item.Value +',}$') + '" value="' + item.PasswordAttributeId +'">' +
                                '<span class="glyphicon glyphicon-remove-circle" style="margin-right:10px;"></span>'+
                                item.Name +
                                '</li>' +
                                '</ul>'
                            ).appendTo("#passwordComplexityAttributesLoadingArea");
                        });

                    }
                });
            }

            $('#NewPassword').on('keyup', function () {
                var newPassword = $('#NewPassword').val();
                console.log(newPassword);
                $('.passwordAttribute').each(function (index, item) {
                    if (newPassword.match($(item).attr('reg-Ex'))) {
                        $(item).removeClass('inValid');
                        $(item).addClass('Valid');

                        $(item).find('span').removeClass('glyphicon glyphicon-remove-circle');
                        $(item).find('span').addClass('glyphicon glyphicon-ok-circle');
                    }
                    else {
                        $(item).addClass('inValid');
                        $(item).removeClass('Valid');

                        $(item).find('span').removeClass('glyphicon glyphicon-ok-circle');
                        $(item).find('span').addClass('glyphicon glyphicon-remove-circle');
                    }
                });

                if ($('.passwordAttribute').length == $('.Valid').length) {
                    $('.btn-primary').attr('disabled', false);
                } else {
                    $('.btn-primary').attr('disabled', true);
                }
            });

            function ResetPassword() {
                $("form").submit(function (e) {
                    e.preventDefault();


                    if ($('#NewPassword').val() !== $('#ConfirmNewPassword').val()) {
                        //ShowWarningMessage('Your New Password is not match with the Confirm Password!');
                        alert('Your new password does not match with the confirm password!'); //working
                    } else if ($('#NewPassword').val().length !== $('#ConfirmNewPassword').val().length) {
                        alert('Password not reset successfully, Please try again!');
                    } else {

                        var ResetPassword = {
                            Id: $('#Id').val(),
                            Password: $('#CurrentPassword').val(),
                            NewPassword: $('#NewPassword').val(),
                            ConfirmNewPassword: $('#ConfirmNewPassword').val()
                        }

                        $.ajax({
                            url: '/Login/SaveResetPassword',
                            dataType: 'JSON',
                            data: { ResetPassword: ResetPassword },
                            method: 'POST',
                            success: function (data) {

                                if (data == "OK") {
                                    alert('Password reset successfully!');
                                    window.location = "/login/index";
                                    
                                } else if (data.startsWith("ERR-")) {
                                    alert(data.replace("ERR-", ""));
                                }


                            }
                        });

                    }

                });

            }


        </script>



