@model Scienter.HotelERP.FrontOffice.WebUIMvc.Areas.Administration.Models.CompanyWiseRateCodeViewModel

@foreach (var item in Model.RateCodeHeaders)
{
    <div class="col-md-4">
        @if (Model.CompanyWiseRateCodes.Count(x => x.RateCodeId == item.Id) > 0)
        {
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group checkbox" >
                        <label>
                            <input type="checkbox" value="@item.Id" checked id="SelectedRateCodeIds" name="SelectedRateCodeIds" class="data-selected-rate-codes" />@item.Name
                        </label>
                    </div>
                </div>
                <div class="col-md-6"></div>
           </div>
        }
        else
        {
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group checkbox">
                        <label>
                            <input type="checkbox" value="@item.Id" id="SelectedRateCodeIds" name="SelectedRateCodeIds" class="data-selected-rate-codes" />
                            @item.Name
                        </label>
                    </div>
                </div>
                <div class="col-md-6"></div>
                </div>
        }
    </div>
}