
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TestPage</title>
</head>
<body>
    <div>

       
        <button class="btn btn-success" onclick="openFullContent();"></button>

    </div>
</body>
</html>
