@model IEnumerable<Scienter.HotelERP.Common.Domain.ModuleCategory>
@{
    ViewBag.Title = "_Grid";
    // Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="table-responsive grid-container">
    <table class="table table-striped"
           id="existingModuleCategoryGrid">
        <thead>
            <tr>
                <th class="text-primary">
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th class="col-md-1 text-primary">
                    Commission
                </th>
                <th class="col-md-1 hidden-print"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Commission)%
                    </td>
                    <td class="hidden-print text-right">
                        <button type="button" class="btn btn-theme-color-2 btn-sm btnEdit" id="btnEdit" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#content" data-id="@item.Id">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>

                        <a class="btn btn-danger btn-sm call-popup-model-delete" id="btnDelete" data-href="/administration/ModulePostings/delete/@item.Id">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        $('#existingModuleCategoryGrid').DataTable(
            {
                //"dom": '<"top"ifb>rt<"bottom"lp><"clear">',
                searching: true,
                ordering: true,
                //"lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                dom: 'Bfrtipl',
                select: true,
                buttons: [
                    'copy',
                    'excel',
                    'csv',
                    'pdf',
                    'print'
                ],
                scrollY: '58vh',
            });
    });
</script>