
@{
    ViewBag.Title = "Promotion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" data-background-color="purple">
                <div class="row">
                    <div class="col-md-8">
                        <h4 class="title">
                            @ViewBag.Title
                            <hr class="visible-print" />
                        </h4>
                    </div>
                    <div class="col-md-4 text-right hidden-print">
                        <button type="button" class="btn btn-sm btn-theme-color-2 showForm">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>

                        <button type="button" class="btn btn-sm  btn-theme-color-2 showGrid">
                            <span class="glyphicon glyphicon-th-list"></span>
                        </button>

                    </div>
                </div>
            </div>
            <div class="card-content" id="contentLoadingArea">
                <div id="content">

                </div>
                @*@Html.Partial("_Loading")*@
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/ui/common/scienter.grid2.js"></script>

<script>

    $(document).ready(function () {
        FillGrid();
    });

    // show form --------------------------------
    $('body').on('click', '.showForm', function (e) {
        $.ajax({
            url: '/GuestPortal/Promotion/PromotionAdminForm',
            dataType: 'html',
            method: 'POST',
            success: function (response) {
                $('#contentLoadingArea #content').html('').fadeOut();
                $('#contentLoadingArea #content').html(response).fadeIn();
            }

        });
    });

    $('body').on('click', '.showGrid', function (e) {
        FillGrid();
    });

    function FillGrid() {
        var gridId = "#guestPortalPromotion"; // change this - relevent grid id
        var paginations = {
            PageIndex: $(gridId).attr('data-page-index'),
            PageSize: $(gridId).attr('data-page-size'),
            FilterType: $(gridId).attr('data-filter-type'),
            SearchKeyword: $(gridId).attr('data-search-keyword')
        }
        $.ajax({
            url: '/GuestPortal/Promotion/PromotionAdminGrid',
            dataType: 'html',
            data: paginations,
            method: 'POST',
            success: function (response) {
                if ($('.grid-container').length > 0) {
                    $('#contentLoadingArea #content').find($('.grid-container')).html('').fadeOut();
                    $('#contentLoadingArea #content').find($('.grid-container')).html(response).fadeIn();
                } else {
                    $('#contentLoadingArea #content').html('').fadeOut();
                    $('#contentLoadingArea #content').html(response).fadeIn();
                }
                GridFunctionalities();
            }

        });
    }

    $('body').on('submit', '#guestPortalPromotion', function (e) {
        e.preventDefault();

        // Create FormData to handle both text fields and image
        var formData = new FormData(this);
        formData.set('IsActive', $('#IsActive').prop('checked').toString());


        $.ajax({
            url: '/GuestPortal/Promotion/PromotionSave', // <-- your controller action
            type: 'POST',
            data: formData,
            contentType: false, // required for FormData
            processData: false, // required for FormData
            beforeSend: function () {
                $('#btnSave').html('<i class="fa fa-refresh fa-spin"></i> Please wait...');
                $('#btnSave').prop('disabled', true);
            },
            success: function (response) {
                if (response === "OK") {
                    ShowSuccessMessage('Promotion has been saved successfully.');
                    setTimeout(function () {
                        window.location.reload();
                    }, 2000);
                } else {
                    ShowWarningMessage(response);
                    $('#btnSave').html('Save');
                    $('#btnSave').prop('disabled', false);
                }
            },
            error: function () {
                ShowErrorMessage('Sorry, there was an error saving the promotion.');
                $('#btnSave').html('Save');
                $('#btnSave').prop('disabled', false);
            }
        });
    });


</script>

