
@{
    Layout = null;
}
<style>
    h1{
        color:red;
    }
</style>
<div class="row">
    <div class="col-md-8">
        <h1>Something went wrong while processing the report...</h1>
        <p>Please Contact Administrator.</p>
    </div>
</div>