
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
</head>

<body>
    <div>
        <br />
        <br />
        <br />
        <br />
        <center>

            @if (ViewBag.IsFromReportRrror == "1")
            {

                <h2>Sorry there is an error in displying the report.</h2>
                <h3>@ViewBag.Errormsg</h3>


                <script>
                        $(document).ready(function () {
                            //window.location.href = "/administration/dashboard";
                            debugger;
                            window.top.location.href = "/administration/dashboard";
                        });
                </script>

            }

        </center>

        <br />
        <br />
        <br />
        <br />
        <br />
    </div>
</body>
</html>
