<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="IsRelatedToOutlet" value="0" />
    <add key="IsCentralLoginEnabled" value="1" />
    <add key="ExternalApiBaseUrl" value="http://190.92.199.235:8091/" />
    <!--<add key="ExternalApiBaseUrl" value="http://192.168.3.140:8443/" />-->
    <add key="FiscalPrinterURL" value="http://localhost:1304/" />
    <!--<add key="CentralAccessApi" value="http://localhost:59809/"/>
    <add key="LoginPortalUrl" value="http://192.168.3.123:9098/"/>-->
    <!--<add key="CentralAccessApi" value="http://localhost:59673/" />
    <add key="LoginPortalUrl" value="http://localhost:53499/" />-->
    <add key="CentralAccessApi" value="http://190.92.199.235:8092/" />
    <add key="LoginPortalUrl" value="http://190.92.199.235:8090/" />
    <add key="ThemeColor" value="blue" />
    <add key="DateFormat" value="dd/MM/yyyy" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="CrystalImageCleaner-AutoStart" value="true" />
    <add key="CrystalImageCleaner-Sleep" value="60000" />
    <add key="CrystalImageCleaner-Age" value="120000" />
    <!--<add key="ReportServer" value="http://chiraj/ReportServer" />
    <add key="SSRSReportsFolder" value="Scienter.DestinityHorizon.CentralAccessPortal.SSRS" />
    <add key="ReportServerUserName" value="chiraj" />-->
    <!--<add key="ReportServerPassword" value="password" />-->
    <!--<add key="ReportServerPassword" value="DF@#-&^K65#@<j" />-->
    <add key="ReportWidth" value="1200" />
    <add key="ReportHeight" value="500" />
    <add key="OutletDBName" value="Standardinventory1" />
    <add key="BaseUrl" value="http://190.92.199.235:8090/" />
    <add key="ConnectionTimeout" value="300" />
    <!--Path for error log file-->
    <add key="ErrorLogFolder" value="C:\RestaurantBackendErrorLog" />
    <add key="ErrorLogFile" value="\ErrorLog.txt" />
    <!--<add key="Server" value="jwh-pms-db-prod.8540d866f3d1.database.windows.net"/>-->
    <add key="Server" value="192.168.3.20,3431" />
    <add key="Db" value="HotelResWeb" />
    <add key="Username" value="stplprod" />
    <add key="Password" value="(#rJWN4rdP%$G_" />
    <add key="ConString" value="Data Source=192.168.3.20,3431;Initial Catalog=HotelResWeb;Persist Security Info=True;User ID=stplprod; Password=(#rJWN4rdP%$G_" />
    <!--<add key="Username" value="stplprod"/>
    <add key="Password" value="(#rJWN4rdP%$G_"/>-->
    <add key="ReportSourceConStr" value="Data Source=192.168.3.20,3431;Initial Catalog=CentralAccessDB;" />
    <add key="ReportServer" value="http://s1-browns-hotel:8045/ReportServer" />
    <add key="SSRSReportsFolder" value="CentralReport" />
    <add key="ReportServerUserName" value="Administrator" />
    <!--<add key="ReportServer" value="http://172.16.38.6/ReportServer/" />
    <add key="SSRSReportsFolder" value="Scienter.HotelERP.FrontOffice.Reports" />
    <add key="ReportServerUserName" value="scienter" />
    <add key="ReportServerPassword" value="Pass@123#" />-->
    <!--<add key="ReportServer" value="http://vmi611714/Reports_SQL2016/browse" />-->
    <!--<add key="ReportServer" value="http://vmi611714/ReportServer_SQL2016"/>
    <add key="SSRSReportsFolder" value="Scienter.HotelERP.FrontOffice.Reports" />
    <add key="ReportServerUserName" value="Administrator" />
    <add key="ReportServerPassword" value="Stpl@302#" />-->
  </appSettings>
  <connectionStrings>
    <!--<add name="eFinancials_AccountingConnectionString" connectionString="Data Source=chiraj\sqlserver2019;Initial Catalog=eFinancials_Accounting;Persist Security Info=True;User ID=sa; Password=tommya" providerName="System.Data.SqlClient" />
    <add name="RestaurantHotelResConnectionString" connectionString="Data Source=chiraj\sqlserver2019;Initial Catalog=CentralAccessDB;Persist Security Info=True;User ID=sa; Password=tommya" providerName="System.Data.SqlClient" />-->
    <!--<add name="eFinancials_AccountingConnectionString" connectionString="Data Source=192.168.3.137\SQL2019;Initial Catalog=eFinancials_Accounting;Persist Security Info=True;User ID=sa; Password=tommya" providerName="System.Data.SqlClient" />-->
    <add connectionString="Data Source=192.168.3.20,3431;Initial Catalog=eFinancials_Accounting;Persist Security Info=True;User ID=stpluser; Password=tommya" name="eFinancials_AccountingConnectionString" />
    <!--<add name="RestaurantHotelResConnectionString" connectionString="Data Source=192.168.3.123;Initial Catalog=CentralAccessDB;Persist Security Info=True;User ID=stpluser; Password=tommya" providerName="System.Data.SqlClient" />-->
    <add connectionString="Data Source=192.168.3.20,3431;Initial Catalog=CentralAccessDB;Persist Security Info=True;User ID=stpluser; Password=tommya" name="RestaurantHotelResConnectionString" />
    <!--<add name="RestaurantHotelResConnectionString" connectionString="Data Source=192.168.3.123;Initial Catalog=CentralAccessDB;Persist Security Info=True;User ID=sa; Password=tommya" providerName="System.Data.SqlClient" />-->
    <!--<add name="RestaurantHotelResConnectionString" connectionString="Data Source=192.168.3.123;Initial Catalog=Categlog_vrV2;Persist Security Info=True;User ID=sa; Password=tommya" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <system.web>
    <compilation targetFramework="4.5">
      <assemblies />
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.5" maxQueryStringLength="4000" enable="true" useFullyQualifiedRedirectUrl="true" executionTimeout="1800" />
    <sessionState timeout="20" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    <httpHandlers>
      <add verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </httpHandlers>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Build.Framework" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EnvDTE" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845DCD8080CC91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.WebForms" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.1" newVersion="4.0.2.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.3.0.0" newVersion="5.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="32768" />
      </requestFiltering>
    </security>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
<!--ProjectGuid: FDA3A1B9-9753-42CF-964E-DB81C4570780-->