
@*@{
    ViewBag.Title = "Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}*@

<div class="row" id="container">
    <div class="col-md-12">
        @Html.Partial("_ReportGroups")
    </div>
</div>

